<!DOCTYPE html>
<html>
<head>
    <title>Query de las Gestiones</title>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
</head>
<body>
<button onclick="window.location = '/reports'">Regresar a la plantilla administrativa</button>
<br>
<div id="app">
    <form action="{{ url("/bigQuery/make") }}" method="get">
        <label for="gestor">Gestor:</label>
        <select name="gestor" id="gestor">
            <option value="todos" style="font-size:120%;">todos</option>
            {% for g in gestores %}
                <option value="{{ g }}" style="font-size:120%;">{{ g }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="cliente">Cliente:</label>
        <select name="cliente" id="cliente">
            <option value="todos" style="font-size:120%;">todos</option>
            {% for c in clientes %}
                <option value="{{ c }}" style="font-size:120%;">{{ c }}</option>
            {% endfor %}
        </select>
        <br>
        <p>
            <label for="fecha1">HECHO de:</label>
            <input class="fecha" name="fecha1" id="fecha1">
            <label for="fecha2">a:</label>
            <input class="fecha" name="fecha2" id="fecha2">
        </p>
        <label for='visits'>Visitas</label>
        <input type='radio' name='tipo' id='visits' value='visits'/><br>
        <label for='tele'>Telefonica</label>
        <input type='radio' name='tipo' id='tele' value='tele'/><br>
        <label for='todos'>Todos</label>
        <input type='radio' name='tipo' id='todos' value='todos'/><br>
        <input type='submit' name='go' value='Query Gestiones'>
    </form>
</div>
<script src="{{ asset('js/app.js') }}"></script>
<script type="module">
    flatpickr("#fecha1", {});
    flatpickr("#fecha2", {});
</script>
</body>
</html>
