<!DOCTYPE html>
<html>
<head>
<title>Administración de breaks</title>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
</head>
<body>
<button onclick="window.location = '/reports'">
    Regresar a la plantilla administrativa
</button>
    <br>
    <table class="table" id="app">
        <thead class="ui-widget-header">
            <tr>
                <th>Gestor</th>
                <th>Tipo</th>
                <th>Empieza</th>
                <th>Termina</th>
            </tr>
        </thead>
        <tbody class="ui-widget-content">
            {% for b in breaks %}
            <tr>
                <td>
                    <form method="post" action="/breakAdmin" id="{{ b.auto }}">
                        <input name="auto" type="hidden" value="{{ b.auto }}">
                        <input name="_method" type="hidden" value="PUT">
                        <input name="_token" type="hidden" value="{{ csrf_token()|raw }}">
                    </form>
                    {{ b.gestor }}
                </td>
                <td>
                    <select name="tipo" form="{{ b.auto }}" title="tipo">
                        <option value=""></option>
                        {% set selected = '' %}
                        {% if b.tipo == 'break' %}
                        {% set selected = 'selected' %}
                        {% endif %}
                        <option value="break" {{ selected }}>break (30 min)</option>
                        {% set selected = '' %}
                        {% if b.tipo == 'bano' %}
                        {% set selected = 'selected' %}
                        {% endif %}
                        <option value="bano" {{ selected }}>baño (10 min)</option>
                    </select>
                </td>
                <td>
                    <input type="time" name="start" form="{{ b.auto }}" title="start"
                        value="{{ b.start|date('H:i') }}">
                </td>
                <td>
                    <input type="time" name="finish" form="{{ b.auto }}" title="finish"
                        value="{{ b.finish|date('H:i') }}">
                </td>
                <td>
                    <input type="submit" name="go" form="{{ b.auto }}" value="CAMBIAR">
                </td>
                <td>
                    <form action="/breakAdmin/{{ b.auto }}" method="post">
                        <input name="_method" type="hidden" value="DELETE">
                        <input name="_token" type="hidden" value="{{ csrf_token()|raw }}">
                        <input type="submit" name="go" value="BORRAR">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot class="ui-widget-footer">
            <tr>
                <td>
                    <form method="post" action="/breakAdmin" id="add">
                        <input name="_token" type="hidden" value="{{ csrf_token()|raw }}">
                        <select name="gestor" title="gestor">
                            <option value=""></option>
                            {% for g in gestores %}
                            <option value='{{ g }}'>{{ g }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </td>
                <td>
                    <select name="tipo" form="add" title="tipo">
                        <option value=""></option>
                        <option value="break">break (30 min)</option>
                        <option value="bano">baño (10 min)</option>
                    </select>
                </td>
                <td>
                    <input type="time" name="start" form="add" title="empieza">
                </td>
                <td>
                    <input type="time" name="finish" form="add" title="termina">
                </td>
                <td>
                    <input type="submit" name="go" form="add" value="AGREGAR">
                </td>
            </tr>
        </tfoot>
    </table>
<script src="{{ asset('js/app.js') }}"></script>
</body>
</html>
