<!DOCTYPE html>
<html>
<head>
    <title>COBRA Visitador Checklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
</head>
<body>
<button onclick="window.location = '/reports'">Regresar a la
    plantilla administrativa
</button>
<br>
<div id="app">
    <p>Visitador:
        {{ visitador }}
        <br> Autorizó por:
        {{ capt }}
        <br> Fecha:
        {{ "now"|date("Y-m-d") }}
    </p>
    <table class="table">
        <thead class="ui-widget-header">
        <tr>
            <th>ID_CUENTA</th>
            <th>CUENTA</th>
            <th>NOMBRE</th>
            <th>CLIENTE</th>
            <th>SALDO TOTAL</th>
            <th>QUEUE</th>
            <th>GESTOR</th>
            <th>FECHA DE ASIGNA</th>
            <th>FECHA DE REGRESA</th>
        </tr>
        </thead>
        <tbody class="ui-widget-content">
        {% for l in list %}
            <tr>
                <td>{{ l.id_cuenta }}</td>
                <td>{{ l.numero_de_cuenta }}</td>
                <td>{{ l.nombre_deudor }}</td>
                <td>{{ l.cliente }}</td>
                <td>{{ l.saldo_total | number_format }}</td>
                <td>{{ l.queue }}</td>
                <td>{{ l.gestor }}</td>
                <td>{{ l.fechaout }}</td>
                <td>{{ l.fechain }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot class="ui-widget-footer">
        <tr>
            <td>&nbsp;</td>
            <td>{{ cuentas }} cuentas</td>
            <td colspan=2>&nbsp;</td>
            <td>${{ saldos|number_format }}</td>
        </tr>
        </tfoot>
    </table>
</div>
<script src="{{ asset('js/app.js') }}"></script>
</body>
</html>
