<!DOCTYPE html>
<html>
<head>
    <title>Horarios</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
</head>
<body>
<div id="app">
    <button onClick="window.location = '/reports'">
        Regresar al administraci&oacute;n
    </button>
    <h2>HORARIOS</h2>
    <div>
        <form action='{{ url("/horarios") }}' method='get' id="horario">
            <label for="gestor">Gestor:</label>
            <select name='gestor' id='gestor'>
                <option value="">Todos</option>
                {% for g in gestores %}
                    <option value='{{ g.c_cvge }}'>{{ g.c_cvge }}</option>
                {% endfor %}
                <option value='total'>total</option>
            </select>
            <input type='submit' name='go' value='gestor'>
        </form>
    </div>
</div>
<script src="{{ asset('js/app.js') }}"></script>
<script>
    document.getElementById('horario').gestor.onchange = function() {
        document.getElementById('horario').action = '/horarios/' + this.value;
    };
</script>
</body>
</html>
