<!DOCTYPE html>
<html>
<head>
    <title>Comparativo de 3 Meses</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
</head>
<body>
<div id="app">
    <h1>COMPARATIVO</h1>
    <button onClick="window.location = '/reports'">Regresar al
        administraci&oacute;n
    </button>
    <table id='buscartab' class='table'>
        <thead class='ui-widget-header'>
        <tr>
            <th>CLIENTE</th>
            <th>MES</th>
            <th>GESTIONES</th>
            <th>CONTACTOS</th>
            <th>% CONTACT</th>
            <th>PROMESAS</th>
            <th>% PROMESAS POR CONTACT</th>
            <th>GESTORES</th>
            <th>HORAS-HOMBRES</th>
        </tr>
        </thead>
        <tbody class='ui-widget-content'>
        {% set class = ['now', 'odd', 'even'] %}
        {% for r in result %}
            <tr class='{{ class[loop.index0 % 3] }}'>
                <td>{{ r.c_cvba }}</td>
                <td>{{ r.mdf }}</td>
                <td>{{ r.sg }}</td>
                <td>{{ r.sc }}</td>
                <td>{{ (100*r.sc/(r.sg+0.0001)) | round }}%</td>
                <td>{{ r.sp }}</td>
                <td>{{ (100*r.sp/(r.sc+0.0001)) | round }}%</td>
                <td>{{ r.cg }}</td>
                <td>{{ r.ch }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script src="{{ asset('js/app.js') }}"></script>
</body>
</html>
