<!DOCTYPE html>
<html>
    <head>
        <title>Cuentas gestionado por {{ gestor }} en {{ fecha }}</title>
        <meta charset="utf-8">
        <meta name="csrf-token" content="{{ csrf_token() }}">
        <link href="{{ asset('css/app.css') }}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.jqueryui.min.css">
    </head>
    <body>
        <table id="Cuentas">
            <thead>
                <tr>
                    <th>CUENTA</th>
                    <th>NOMBRE</th>
                    <th>CLIENTE</th>
					<th>CAMPAÑA</th>
					<th>GESTOR</th>
                    <th>SALDO PARA LIQUIDAR</th>
                    <th>STATUS ACTUAL</th>
                    <th>RESULTADOS</th>
                    <th>STATUS ANTERIOR</th>
                    <th>FECHA HORA</th>
                </tr>
            </thead>
            <tbody>
                {% for r in results %}
                    <tr>
                        <td><a href='/resumen/{{ r.id_cuenta }}'>{{ r.numero_de_cuenta }}</a></td>
                        <td>{{ r.nombre_deudor | e }}</td>
                        <td>{{ r.cliente }}</td>
                        <td>{{ r.status_de_credito }}</td>
                        <td>{{ r.ejecutivo_asignado_call_center }}</td>
                        <td class='num'>{{ r.saldo_descuento_2 | number_format }}</td>
                        <td>{{ r.status_aarsa }}</td>
                        <td>{{ r.c_cvst }}</td>
                        <td>{{ r.c_contan }}</td>
                        <td>{{ r.d_fech }}&nbsp;{{ r.c_hrin }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <script src="{{ asset('js/app.js') }}"></script>
        <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js" type="text/javascript"></script>
        <script>
            $(function () {
                $('#Cuentas').dataTable({"bJQueryUI": true});
            });
        </script>
    </body>
</html>
