<!DOCTYPE html>
<html>
<head>
    <title>{{ gestor }}</title>
    <meta charset="utf-8"/>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
</head>
<body>
<h2>PROMESAS Y PAGOS PARA {{ gestor | upper }}</h2>
<table class="table" id="app">
    <thead class="ui-widget-header">
    <tr>
        <th>Fecha Prom.</th>
        <th>Cuenta</th>
        <th>Cliente</th>
        <th>Monto Prom.</th>
        <th>Saldo Total</th>
        <th>Saldo Desc.</th>
        <th>Gestor de Prom.</th>
        <th>Gestor Asig.</th>
        <th>Monto Pago</th>
        <th>Fecha Pago</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody class="ui-widget-content">
    {% set sumpr = 0 %}
    {% set sumpp = 0 %}
    {% for r in result %}
        {% set sumpr = sumpr + r.n_prom %}
        {% set sump = sump + r.monto %}
        <tr>
            <td>{{ r.d_prom }}</td>
            <td><a href='/resumen/{{ id_cuenta }}'>{{ r.cuenta }}</a></td>
            <td>{{ r.cliente }}</td>
            <td align="right">{{ r.n_prom | number_format }}</td>
            <td align="right">{{ r.saldo_total | number_format }}</td>
            <td align="right">{{ r.saldo_descuento_2 | number_format }}</td>
            <td>{{ r.c_cvge }}</td>
            <td>{{ r.ejecutivo_asignado_call_center }}</td>
            <td align="right">{{ r.monto | number_format }}</td>
            <td>{{ r.fecha }}</td>
            <td>{{ r.status_aarsa }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td>SUM</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <th align="right">{{ sumpr | number_format }}</th>
        <td align="right">&nbsp;</td>
        <td align="right">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <th align="right">{{ sump | number_format }}</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    </tbody>
</table>
<script src="{{ asset('js/app.js') }}"></script>
</body>
</html>
