<!DOCTYPE html>
<html>
<head>
    <title><?php echo strtoupper($gestor); ?></title>
    <meta http-equiv="refresh" content="900"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/redmond/jquery-ui.css" type="text/css"
          media="all"/>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" type="text/javascript"></script>
</head>
<body>
<h2>PROMESAS Y PAGOS PARA <?php echo strtoupper($gestor); ?></h2>
<table class="ui-widget">
    <thead class="ui-widget-header">
    <tr>
        <th>Fecha Prom.</th>
        <th>Cuenta</th>
        <th>Cliente</th>
        <th>Monto Prom.</th>
        <th>Saldo Total</th>
        <th>Saldo Desc.</th>
        <th>Gestor de Prom.</th>
        <th>Gestor Asig.</th>
        <th>Monto Pago</th>
        <th>Fecha Pago</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody class="ui-widget-content">
    {% set sumpr = 0 %}
    {% set sumpp = 0 %}
    {% for r in result %}
        {% set sumpr = sumpr + r.n_prom %}
        {% set sump = sump + r.monto %}
        <tr>
            <td>{{ r.d_prom }}</td>
            <td><a href='/resumen/{{ id_cuenta }}'>{{ r.cuenta }}</a></td>
            <td>{{ r.cliente }}</td>
            <td align="right">{{ r.n_prom | number_format }}</td>
            <td align="right">{{ r.saldo_total | number_format }}</td>
            <td align="right">{{ r.saldo_descuento_2 | number_format }}</td>
            <td>{{ r.c_cvge }}</td>
            <td>{{ r.ejecutivo_asignado_call_center }}</td>
            <td align="right">{{ r.monto | number_format }}</td>
            <td>{{ r.fecha }}</td>
            <td>{{ r.status_aarsa }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td>SUM</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <th align="right">{{ sumpr | number_format }}</th>
        <td align="right">&nbsp;</td>
        <td align="right">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <th align="right">{{ sump | number_format }}</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    </tbody>
</table>
</body>
</html>
