<!DOCTYPE html>
<html>
<head>
    <title>Administraci&oacute;n de las cuentas de los gestores</title>
    <meta charset="utf-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css">
</head>
<body>
<button onclick="window.location = '/reports'">Regresar a la
    plantilla administrativa
</button>
<br>
<table summary="Gestores" class="table-striped" id="app">
    <thead class="ui-widget-header">
    <tr>
        <th>Gestor</th>
        <th>Completo</th>
        <th>Contrase&ntilde;a</th>
        <th>Tipo</th>
        <th>Guardar</th>
        <th>Borrar</th>
    </tr>
    </thead>
    <tbody class="ui-widget-content">
    {% for r in result %}
        {% set rnd = random() %}
        {% set changeUrl = '/gestor/change' %}
        {% set deleteUrl = '/gestor/delete' %}
        {% if r.name is null %}
            {% set changeUrl = '/nombre/change' %}
            {% set deleteUrl = '/nombre/delete' %}
        {% endif %}
        <tr>

            <td><input form="gestorchange{{ rnd }}" type="text"
                       name="iniciales" readonly="readonly" value="{{ r.iniciales }}"/></td>
            <td><input form="gestorchange{{ rnd }}" type="text"
                       name="completo" value="{{ r.completo }}"/></td>
            <td><input form="gestorchange{{ rnd }}" type="password"
                       name="passw" value=""/></td>
            <td><select form="gestorchange{{ rnd }}" name="tipo">
                    <option value=""></option>
                    {% for g in groups %}
                        {% set seltxt = '' %}
                        {% if g == r.tipo %}
                            {% set seltxt = 'selected' %}
                        {% endif %}
                        <option value="{{ g }}" style="font-size: 120%;" {{ seltxt }}>{{ g }}</option>
                    {% endfor %}
                </select></td>
            <td>
                <form name="gestorchange{{ rnd }}" method="post"
                      action="{{ changeUrl }}" id="gestorchange{{ rnd }}">
                    {{ csrf_field() }}
                    <input type="submit" name="go" value="GUARDAR">
                </form>
            </td>
            <td>
                <form name="gestordelete{{ rnd }}" method="post"
                      action="{{ deleteUrl }}" id="gestordelete{{ rnd }}">
                    {{ csrf_field() }}
                    <input type="hidden" name="iniciales" value="{{ r.iniciales }}"/>
                    <input type="submit" name="go" value="BORRAR">
                </form>
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td><input form="gestoradd" type="text" name="iniciales" value=""/></td>
        <td><input form="gestoradd" type="text" name="completo" value=""/></td>
        <td><input form="gestoradd" type="password" name="passw" value=""/></td>
        <td><select form="gestoradd" name="tipo">
                <option value=""></option>
                {% for g in groups %}
                    <option value="{{ g }}" style="font-size: 120%;">{{ g }}</option>
                {% endfor %}
            </select></td>
        <td>
            <form name="gestoradd" method="post" action="{{ url('/gestor/add') }}" id="gestoradd">
                {{ csrf_field() }}
                <input form="gestoradd" type="submit" name="go" value="AGREGAR">
            </form>
        </td>
        <td></td>
    </tr>
    </tbody>
</table>
<script src="{{ asset('js/app.js') }}"></script>
<script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#app').dataTable({
            "bPaginate": false
        });
    });
</script>
</body>
</html>
