<!DOCTYPE html>
<html>
<head>
<title>Horarios</title>
<meta charset="utf-8" />
	<meta name="csrf-token" content="{{ csrf_token() }}">
	<link href="{{ asset('css/app.css') }}" rel="stylesheet">
<style type="text/css">
tr:hover {
	background-color: #ffff00;
}

.heavy {
	font-weight: bold;
	font-size: 10pt;
}

th, th {
	text-align: center;
}
</style>
</head>
<body>
	<h2>HORARIOS</h2>
	<table class="table">
		<thead class="ui-widget-header">
			<tr>
				<th><a href='/horariosV/{{ visitador }}'>{{ visitador }}</a></th>
				{% for i in 1..dhoy %}
				<th>{{ dowArray[i] }} {{ i }}</th>
				{% endfor %}
				<th>TOTAL</th>
			</tr>
		</thead>
		<tbody class="ui-widget-content">
			<tr>
				<td class="heavy">VISITAS</td>
				{% set sumgest = 0 %}
				{% for i in 1..dhoy %}
				{% set sumgest = sumgest + data[i].gestiones %}
				{% set zeros = '' %}
				{% if data[i].gestiones == 0 %}
				{% set zeros = ' style="color:red;"' %}
				{% endif %}
				<td>
				<a href='/ddh/{{ visitador }}/{{ yrmes }}{{ i }}'> {{ data[i].gestiones }}
				</a>
				</td>
				{% endfor %}
				<th>{{ sumgest }}</th>
			</tr>
			<tr>
				<td class="heavy">CUENTAS</td>
                {% set sumcta = 0 %}
				{% for i in 1..dhoy %}
				{% set sumcta = sumcta + data[i].cuentas %}
				{% set zeros = '' %}
				{% if data[i].cuentas == 0 %}
				{% set zeros = ' style="color:red;"' %}
				{% endif %}
				<td>
				<a href='/ddh/{{ visitador }}/{{ yrmes }}{{ i }}'> {{ data[i].cuentas }}
				</a>
				</td>
				{% endfor %}
				<td>{{ sumcta }}</td>
			</tr>
			<tr>
				<td class="heavy">CONTACTOS</td>
                {% set sumcont = 0 %}
				{% for i in 1..dhoy %}
				{% set sumcont = sumcont + data[i].contactos %}
				{% set zeros = '' %}
				{% if data[i].contactos == 0 %}
				{% set zeros = ' style="color:red;"' %}
				{% endif %}
				<td class="light"{{ zeros }}>{{ data[i].contactos }}</td>
				{% endfor %}
				<td>{{ sumcont }}</td>
			</tr>
			<tr>
				<td class="heavy">NO CONTACTOS</td>
                {% set sumnoc = 0 %}
				{% for i in 1..dhoy %}
				{% set sumnoc = sumnoc + data[i].nocontactos %}
				{% set zeros = '' %}
				{% if data[i].nocontactos == 0 %}
				{% set zeros = ' style="color:red;"' %}
				{% endif %}
				<td class="light"{{ zeros }}>{{ data[i].nocontactos }}</td>
				{% endfor %}
				<td>{{ sumnoc }}</td>
			</tr>
			<tr>
				<td class="heavy">PROMESAS</td>
                {% set sumprom = 0 %}
				{% for i in 1..dhoy %}
				{% set sumprom = sumprom + data[i].promesas %}
				{% set zeros = '' %}
				{% if data[i].promesas == 0 %}
				{% set zeros = ' style="color:red;"' %}
				{% endif %}
				<td>
				<a href='/pdh/{{ visitador }}/{{ yrmes }}{{ i }}'> {{ data[i].promesas }}
				</a>
				</td>
				{% endfor %}
				<td>{{ sumprom }}</td>
			</tr>
			<tr>
				<td class="heavy">PAGOS</td>
                {% set sumpag = 0 %}
				{% for i in 1..dhoy %}
				{% set sumpag = sumpag + data[i].pagos %}
				{% set zeros = '' %}
				{% if data[i].pagos == 0 %}
				{% set zeros = ' style="color:red;"' %}
				{% endif %}
				<td class="light"{{ zeros }}>{{ data[i].pagos }}</td>
				{% endfor %}
				<td>{{ sumpag }}</td>
			</tr>
			<tr style="height: 2em"></tr>
		</tbody>
	</table>
	<script src="{{ asset('js/app.js') }}"></script>
</body>
</html>

