<!DOCTYPE html>
<html>
<head>
<title>Horarios</title>
<meta charset="utf-8" />
<link rel="stylesheet"
	href="https://code.jquery.com/ui/1.12.0/themes/redmond/jquery-ui.css"
	type="text/css" media="all" />
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
	type="text/javascript"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
	type="text/javascript"></script>
<style type="text/css">
tr:hover {
	background-color: #ffff00;
}

.heavy {
	font-weight: bold;
	font-size: 10pt;
}

.heavytot {
	font-weight: bold;
	font-size: 10pt;
	text-align: right;
}

th, th {
	text-align: center;
}

.zeros {
	color: red;
}
</style>
</head>
<body>
	<h2>HORARIOS</h2>
	{% for gestor in gestores %}
	<table class="ui-widget">
		<thead class="ui-widget-header">
			<tr>
				<th><a href='/gestor/{{ gestor }}'>{{ gestor }}</a></th>
				{% for i in 1..dhoy %}
				<th>{{ dowArray[i] }} {{ i }}</th>
				{% endfor %}
				<th>TOTAL</th>
			</tr>
		</thead>
		<tbody class="ui-widget-content">
			<tr>
				<td class="heavy">LOGIN</td>
				{% for i in 1..dhoy %}
				{% set zeros = '' %}
				{% if data[gestor][i].start == 0 %}
				{% set zeros = ' zeros' %}
				{% endif %}
				<td class="light{{ zeros }}">{{ data[gestor][i].start }}</td>
				{% endfor %}
				<td></td>
			</tr>
			<tr>
				<td class="heavy">LOGOUT</td>
				{% for i in 1..dhoy %}
				{% set zeros = '' %}
				{% if data[gestor][i].stop == 0 %}
				{% set zeros = ' zeros' %}
				{% endif %}
				<td class="light{{ zeros }}">{{ data[gestor][i].stop }}</td>
				{% endfor %}
				<td></td>
			</tr>
			<tr>
				<td class="heavy">HORAS</td>
                {% set sumdiff = 0 %}
				{% for i in 1..dhoy %}
				{% set sumdiff = sumdiff + data[gestor][i].diff %}
				{% if data[gestor][i].diff == 0 %}
				<td></td>
				{% else %}
				<td class="light">{{ data[gestor][i].diff | date('H:i:s') }}</td>
				{% endif %}
				{% endfor %}
				<th>{{ sumdiff | date('d \\dí\\a\\s H:i:s') }}</th>
			</tr>
			<tr>
				<td class="heavy">TIEMPO BREAK</td>
				{% set sumbreak = 0 %}
				{% for i in 1..dhoy %}
				{% set sumbreak = sumbreak + data[gestor][i].break %}
				{% if data[gestor][i].break == 0 %}
				<td class="light"></td>
				{% else %}
				<td class="light">{{ data[gestor][i].break | date('H:i:s') }}</td>
				{% endif %}
				{% endfor %}
				<th>{{ sumbreak | date('H:i:s') }}</th>
			</tr>
			<tr>
				<td class="heavy">TIEMPO BAÑO</td>
				{% set sumbano = 0 %}
				{% for i in 1..dhoy %}
				{% set sumbano = sumbano + data[gestor][i].bano %}
				{% if data[gestor][i].bano == 0 %}
				<td class="light"></td>
				{% else %}
				<td class="light">{{ data[gestor][i].bano | date('H:i:s') }}</td>
				{% endif %}
				{% endfor %}
				<th>{{ sumbano | date('H:i:s') }}</th>
			</tr>
			<tr>
				<td class="heavy">GESTIONES</td>
				{% set sumgest = 0 %}
				{% for i in 1..dhoy %}
				{% set sumgest = sumgest + data[gestor][i].gestiones %}
				{% set zeros = '' %}
				{% if data[gestor][i].gestiones == 0 %}
				{% set zeros = ' zeros' %}
				{% endif %}
				<td>
				<a href='/ddh/{{ gestor }}/{{ yrmes }}{{ i }}'> {{ data[gestor][i].gestiones }}
				</a>
				</td>
				{% endfor %}
				<th>{{ sumgest }}</th>
			</tr>
			<tr>
				<td class="heavy">CUENTAS</td>
                {% set sumcta = 0 %}
				{% for i in 1..dhoy %}
				{% set sumcta = sumcta + data[gestor][i].cuentas %}
				{% set zeros = '' %}
				{% if data[gestor][i].cuentas == 0 %}
				{% set zeros = ' zeros' %}
				{% endif %}
				<td>
				<a href='/ddh/{{ gestor }}/{{ yrmes }}{{ i }}'> {{ data[gestor][i].cuentas }}
				</a>
				</td>
				{% endfor %}
				<td>{{ sumcta }}</td>
			</tr>
			<tr>
				<td class="heavy">CONTACTOS</td>
                {% set sumcont = 0 %}
				{% for i in 1..dhoy %}
				{% set sumcont = sumcont + data[gestor][i].contactos %}
				{% set zeros = '' %}
				{% if data[gestor][i].contactos == 0 %}
				{% set zeros = ' zeros' %}
				{% endif %}
				<td class="light{{ zeros }}">{{ data[gestor][i].contactos }}</td>
				{% endfor %}
				<td>{{ sumcont }}</td>
			</tr>
			<tr>
				<td class="heavy">NO CONTACTOS</td>
                {% set sumnoc = 0 %}
				{% for i in 1..dhoy %}
				{% set sumnoc = sumnoc + data[gestor][i].nocontactos %}
				{% set zeros = '' %}
				{% if data[gestor][i].nocontactos == 0 %}
				{% set zeros = ' zeros' %}
				{% endif %}
				<td class="light{{ zeros }}">{{ data[gestor][i].nocontactos }}</td>
				{% endfor %}
				<td>{{ sumnoc }}</td>
			</tr>
			<tr>
				<td class="heavy">PROMESAS</td>
                {% set sumprom = 0 %}
				{% for i in 1..dhoy %}
				{% set sumprom = sumprom + data[gestor][i].promesas %}
				{% set zeros = '' %}
				{% if data[gestor][i].promesas == 0 %}
				{% set zeros = ' zeros' %}
				{% endif %}
				<td>
				<a href='/pdh/{{ gestor }}/{{ yrmes }}{{ i }}'> {{ data[gestor][i].promesas }}
				</a>
				</td>
				{% endfor %}
				<td>{{ sumprom }}</td>
			</tr>
			<tr>
				<td class="heavy">PAGOS</td>
                {% set sumpag = 0 %}
				{% for i in 1..dhoy %}
				{% set sumpag = sumpag + data[gestor][i].pagos %}
				{% set zeros = '' %}
				{% if data[gestor][i].pagos == 0 %}
				{% set zeros = ' zeros' %}
				{% endif %}
				<td class="light{{ zeros }}">{{ data[gestor][i].pagos }}</td>
				{% endfor %}
				<td>{{ sumpag }}</td>
			</tr>
			<tr style="height: 2em"></tr>
		</tbody>
	</table>
	{% endfor %}
</body>
</html>

