<!DOCTYPE html>
<html>
<head>
    <title>INFONAVIT Visita Data</title>
    <meta charset="utf-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
</head>
<body>
<button onclick="window.location = '/reports'">Regresar a la plantilla administrativa</button>
<br>
<form action="{{ url('/upload') }}" method="POST" enctype="multipart/form-data" id="app">
    {{ csrf_field() }}
    <label for="archivo">Archivo: </label>
    <input type="file" name="file" id="archivo">
    <input type="submit" value="Upload">
</form>
<script src="{{ asset('js/app.js') }}"></script>
<script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#classy').dataTable({
            "bPaginate": false
        });
    });
</script>
</body>
</html>
