<!DOCTYPE html>
<html>
    <head>
        <title>COBRA Nota Admin</title>
        <meta name="csrf-token" content="{{ csrf_token() }}">
        <link href="{{ asset('css/app.css') }}" rel="stylesheet">
    </head>
    <body>
        <div id="notabox">
            <table class="table" id="notahead">
                <thead class='ui-widget-header'>
                    <tr>
                        <th>GESTOR</th>
                        <th>FECHA</th>
                        <th>HORA</th>
                        <th>CUENTA</th>
                        <th colspan=5>NOTA</th>
                        <th>BORRAR</th>
                    </tr>
                </thead>
                <tbody class="ui-widget-content">
                    {% for n in notas %}
                            <tr>
                                <td>{{ n.c_cvge }}</td>
                                <td>{{ n.fecha }}</td>
                                <td>{{ n.hora }}</td>
                                <td>{{ n.cuenta }}</td>
                                <td colspan=5>{{ n.nota | e }}</td>
                                <td>
                                    <form action="{{ url('/notadmin') }}" method="post" name="lista{{ n.auto }}">
                                    	{{ csrf_field() }}
                                        <input type="hidden" name="which" readonly="readonly" value="{{ n.auto }}" />
                                        <input type="submit" name="go" value="BORRAR">
                                    </form>
                                </td>

                            </tr>
{% endfor %}
                    </tbody>
                </table>
            </div>
        <form action="{{ url('/addNotaAdmin') }}" method="post" name="notas">
        	{{ csrf_field() }}
            <label for='fecha'>Fecha</label>
            <input type="text" name="fecha" id="fecha" value="" size=15 /><br>
            <label for='hora'>Hora</label>
            <input type="number" name="hora" id="hora" min="0" max="23" value="" />
            <label for='min'>Min</label>
            <input type="number" name="min" id="min" min="0" max="55" step="5" value="" /><br>
            <label for='nota'>Nota</label>
            <textarea rows="2" cols="40" name="nota" id="nota"></textarea><br>
            <input type="hidden" name="C_CONT" readonly="readonly" value='{{ id_cuenta }}' /><br>
            <input type="submit" name="go" value="GUARDAR">
        </form>
        <form action="{{ url('/notadmin') }}" method="post" name="notas">
            <label for="target">Gestor:</label>
                    <select name="target" id="target">
                        <option value="todos" style="font-size:120%;">todos</option>
                        {% for g in gestores %}
                            <option value="{{ g }}" style="font-size:120%;">{{ g }}</option>
                        {% endfor %}
                    </select>
            <input type="submit" name="go" value="GUARDAR">
        </form>
        <script src="{{ asset('js/app.js') }}"></script>
       <script>
           flatpickr('#fecha', {});
        </script>
    </body>
</html>
