<!DOCTYPE html>
<html>
    <head>
        <title>COBRA Pagos</title>
        <meta charset="utf-8">
        <meta name="csrf-token" content="{{ csrf_token() }}">
        <link href="{{ asset('css/app.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css">
    </head>
    <body>
        <div id="app">
            <p>
                CUENTA:&nbsp;&nbsp;{{ cuenta }}<br>
                CLIENTE:&nbsp;{{ cliente }}
            </p>
            <table class="table" id="pagos">
                <thead class='ui-widget-header'>
                    <tr>
                        <th>FECHA</th>
                        <th>MONTO</th>
                        <th>CONFIRMADO</th>
                    </tr>
                </thead>
                <tbody class="ui-widget-content">
                    {% for p in pagos %}
                        <tr>
                            <td>{{ p.fecha }}</td>
                            <td>{{ p.monto }}</td>
                            <td>
                                {{ p.confirmado|replace({'0': 'No', '1': "Sí"}) }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button onClick='window.close()'>CIERRA</button>
        <script src="{{ asset('js/app.js') }}"></script>
        <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#pagos').dataTable({
                    "bPaginate": false,
                    "oLanguage": {
                        "sUrl": "espanol.txt"
                    }
                });
            });
        </script>
    </body>
</html> 
