<!DOCTYPE HTML>
<html>
<head>
    <title>Capturar Pagos Confirmados</title>
    <meta charset="utf-8"/>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
</head>
<body>
<div id="app">
    <button onclick="window.location = '/reports'">Regresar a la
        plantilla administrativa
    </button>
    <form action="{{ url('/pagobulk') }}" method="post" name="cargar">
        <label for="data">Usa formato CUENTA,FECHA(2011-01-31),MONTO(1234.56)</label>
        <textarea name='data' id="data" rows='20' cols='50'></textarea>
        {{ csrf_field() }}
        <button type="submit" name="go" value="cargar">Cargar</button>
    </form>
    {{ message }}
    <br>
</div>
<script src="{{ asset('js/app.js') }}"></script>
</body>
</html>
