<!DOCTYPE html>
<html>
<head>
    <title>Pagos del mes actual</title>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
</head>
<body>
<button onclick="window.location = '/reports'">Regresar a la plantilla administrativa</button>
<br>
<h2>Mes Actual</h2>
<table class="table">
    <thead>
    <tr>
        <th>Cliente</th>
        <th>Campa&ntilde;a</th>
        <th>Monto Pago Capturado</th>
        <th>Monto Pago Confirmado</th>
    </tr>
    </thead>
    <tbody>
    {% for ra in resultAct %}
        {% set sdc = ra.sdc %}
        {% if ra.sdc is empty %}
            {% set sdc = 'TOTAL' %}
        {% endif %}
        <tr>
            <td>{{ ra.cli }}</td>
            <td>{{ sdc }}</td>
            <td class="num">{{ ra.sm | number_format(2, '.', ',') }}</td>
            <td class="num">{{ ra.smc | number_format(2, '.', ',') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<table class="table">
    <thead>
    <tr>
        <th>Gestor</th>
        <th>Cliente</th>
        <th>Monto Pago Capturado</th>
        <th>Monto Pago Confirmado</th>
    </tr>
    </thead>
    <tbody>
    {% for rag in resultActGest %}
        <tr>
            <td>{{ rag.gestor }}</td>
            <td>{{ rag.cliente }}</td>
            <td class="num">{{ rag.sm | number_format(2, '.', ',') }}</td>
            <td class="num">{{ rag.smc | number_format(2, '.', ',') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<table class="table">
    <thead>
    <tr>
        <th>Cuenta</th>
        <th>Fecha</th>
        <th>Monto</th>
        <th>Cliente</th>
        <th>Gestor</th>
        <th>Confirmado</th>
    </tr>
    </thead>
    <tbody>
    {% for rad in resultActDet %}
        <tr>
            <td>{{ rad.cuenta }}</td>
            <td>{{ rad.fecha }}</td>
            <td class="num">{{ rad.monto | number_format(2, '.', ',') }}</td>
            <td>{{ rad.cliente }}</td>
            <td>{{ rad.gestor }}</td>
            <td>{{ rad.confirmado }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<h2>Mes Anterior</h2>
<table class="table">
    <thead>
    <tr>
        <th>Cliente</th>
        <th>Campa&ntilde;a</th>
        <th>Monto Pago Capturado</th>
        <th>Monto Pago Confirmado</th>
    </tr>
    </thead>
    <tbody>
    {% for rp in resultPrev %}
        {% set sdcp = rp.sdc %}
        {% if rp.sdc is empty %}
            {% set sdcp = 'TOTAL' %}
        {% endif %}
        <tr>
            <td>{{ rp.cli }}</td>
            <td>{{ sdcp }}</td>
            <td class="num">{{ rp.sm | number_format(2, '.', ',') }}</td>
            <td class="num">{{ rp.smc | number_format(2, '.', ',') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<table class="table">
    <thead>
    <tr>
        <th>Gestor</th>
        <th>Cliente</th>
        <th>Monto Pago Capturado</th>
        <th>Monto Pago Confirmado</th>
    </tr>
    </thead>
    <tbody >
    {% for rpg in resultPrevGest %}
        <tr>
            <td>{{ rpg.gestor }}</td>
            <td>{{ rpg.cliente }}</td>
            <td class="num">{{ rpg.sm | number_format(2, '.', ',') }}</td>
            <td class="num">{{ rpg.smc | number_format(2, '.', ',') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<table class="table">
    <thead>
    <tr>
        <th>Cuenta</th>
        <th>Fecha</th>
        <th>Monto</th>
        <th>Cliente</th>
        <th>Gestor</th>
        <th>Confirmado</th>
    </tr>
    </thead>
    <tbody>
    {% for rpd in resultPrevDet %}
        <tr>
            <td>{{ rpd.cuenta }}</td>
            <td>{{ rpd.fecha }}</td>
            <td class="num">{{ rpd.monto | number_format(2, '.', ',') }}</td>
            <td>{{ rpd.cliente }}</td>
            <td>{{ rpd.gestor }}</td>
            <td>{{ rpd.confirmado }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script src="{{ asset('js/app.js') }}"></script>
</body>
</html>
