<!DOCTYPE html>
<html>
<head>
    <title>Horarios mes anterior</title>
    <meta charset="utf-8"/>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
    <style type="text/css">
        tr:hover {
            background-color: #ffff00;
        }

        .heavy {
            font-weight: bold;
            font-size: 10pt;
        }

        th, th {
            text-align: center;
        }
    </style>
</head>
<body>
<div id="app">
    <h2>HORARIOS</h2>
    {% for visitador in visitadores %}
        <table class="table">
            <thead class="ui-widget-header">
            <tr>
                <th><a href='/horariosV/{{ visitador }}'>{{ visitador }}</a></th>
                {% for i in 1..dhoy %}
                    <th>{{ dowArray[i] }} {{ i }}</th>
                {% endfor %}
                <th>TOTAL</th>
            </tr>
            </thead>
            <tbody class="ui-widget-content">
            <tr>
                <td class="heavy">GESTIONES</td>
                {% set sumgest = 0 %}
                {% for i in 1..dhoy %}
                    {% set sumgest = sumgest + data[visitador][i].gestiones %}
                    {% set zeros = '' %}
                    {% if data[visitador][i].gestiones == 0 %}
                        {% set zeros = ' style="color:red;"' %}
                    {% endif %}
                    <td>
                        <a href='/ddh/{{ visitador }}/{{ yrmes }}{{ i }}'> {{ data[visitador][i].gestiones }}
                        </a>
                    </td>
                {% endfor %}
                <th>{{ sumgest }}</th>
            </tr>
            <tr>
                <td class="heavy">CUENTAS</td>
                {% set sumcta = 0 %}
                {% for i in 1..dhoy %}
                    {% set sumcta = sumcta + data[visitador][i].cuentas %}
                    {% set zeros = '' %}
                    {% if data[visitador][i].cuentas == 0 %}
                        {% set zeros = ' style="color:red;"' %}
                    {% endif %}
                    <td>
                        <a href='/ddh/{{ visitador }}/{{ yrmes }}{{ i }}'> {{ data[visitador][i].cuentas }}
                        </a>
                    </td>
                {% endfor %}
                <td>{{ sumcta }}</td>
            </tr>
            <tr>
                <td class="heavy">CONTACTOS</td>
                {% set sumcont = 0 %}
                {% for i in 1..dhoy %}
                    {% set sumcont = sumcont + data[visitador][i].contactos %}
                    {% set zeros = '' %}
                    {% if data[visitador][i].contactos == 0 %}
                        {% set zeros = ' style="color:red;"' %}
                    {% endif %}
                    <td class="light"{{ zeros }}>{{ data[visitador][i].contactos }}</td>
                {% endfor %}
                <td>{{ sumcont }}</td>
            </tr>
            <tr>
                <td class="heavy">NO CONTACTOS</td>
                {% set sumnoc = 0 %}
                {% for i in 1..dhoy %}
                    {% set sumnoc = sumnoc + data[visitador][i].nocontactos %}
                    {% set zeros = '' %}
                    {% if data[visitador][i].nocontactos == 0 %}
                        {% set zeros = ' style="color:red;"' %}
                    {% endif %}
                    <td class="light"{{ zeros }}>{{ data[visitador][i].nocontactos }}</td>
                {% endfor %}
                <td>{{ sumnoc }}</td>
            </tr>
            <tr>
                <td class="heavy">PROMESAS</td>
                {% set sumprom = 0 %}
                {% for i in 1..dhoy %}
                    {% set sumprom = sumprom + data[visitador][i].promesas %}
                    {% set zeros = '' %}
                    {% if data[visitador][i].promesas == 0 %}
                        {% set zeros = ' style="color:red;"' %}
                    {% endif %}
                    <td>
                        <a href='/pdh/{{ visitador }}/{{ yrmes }}{{ i }}'> {{ data[visitador][i].promesas }}
                        </a>
                    </td>
                {% endfor %}
                <td>{{ sumprom }}</td>
            </tr>
            <tr>
                <td class="heavy">PAGOS</td>
                {% set sumpag = 0 %}
                {% for i in 1..dhoy %}
                    {% set sumpag = sumpag + data[visitador][i].pagos %}
                    {% set zeros = '' %}
                    {% if data[visitador][i].pagos == 0 %}
                        {% set zeros = ' style="color:red;"' %}
                    {% endif %}
                    <td class="light"{{ zeros }}>{{ data[visitador][i].pagos }}</td>
                {% endfor %}
                <td>{{ sumpag }}</td>
            </tr>
            <tr style="height: 2em"></tr>
            </tbody>
        </table>
    {% endfor %}
    <table class="table">
        <thead class="ui-widget-header">
        <tr>
            <th>TOTAL</th>
            {% for i in 1..dhoy %}
                <th>{{ dowArray[i] }} {{ i }}</th>
            {% endfor %}
            <th>TOTAL</th>
        </tr>
        </thead>
        <tbody class="ui-widget-content">
        <tr>
            <td class="heavy">VISITAS</td>
            {% set sumgest = 0 %}
            {% for i in 1..dhoy %}
                {% set sumgest = sumgest + summary[i].gestiones %}
                {% set zeros = '' %}
                {% if summary.gestiones == 0 %}
                    {% set zeros = ' style="color:red;"' %}
                {% endif %}
                <td>
                    {{ summary[i].gestiones }}
                </td>
            {% endfor %}
            <th>{{ sumgest }}</th>
        </tr>
        <tr>
            <td class="heavy">CUENTAS</td>
            {% set sumcta = 0 %}
            {% for i in 1..dhoy %}
                {% set sumcta = sumcta + summary[i].cuentas %}
                {% set zeros = '' %}
                {% if summary.cuentas == 0 %}
                    {% set zeros = ' style="color:red;"' %}
                {% endif %}
                <td>
                    {{ summary[i].cuentas }}
                </td>
            {% endfor %}
            <td>{{ sumcta }}</td>
        </tr>
        <tr>
            <td class="heavy">CONTACTOS</td>
            {% set sumcont = 0 %}
            {% for i in 1..dhoy %}
                {% set sumcont = sumcont +summary[i].contactos %}
                {% set zeros = '' %}
                {% if summary[i].contactos == 0 %}
                    {% set zeros = ' style="color:red;"' %}
                {% endif %}
                <td class="light"{{ zeros }}>{{ summary[i].contactos }}</td>
            {% endfor %}
            <td>{{ sumcont }}</td>
        </tr>
        <tr>
            <td class="heavy">NO CONTACTOS</td>
            {% set sumnoc = 0 %}
            {% for i in 1..dhoy %}
                {% set sumnoc = sumnoc + summary[i].nocontactos %}
                {% set zeros = '' %}
                {% if summary[i].nocontactos == 0 %}
                    {% set zeros = ' style="color:red;"' %}
                {% endif %}
                <td class="light"{{ zeros }}>{{ summary[i].nocontactos }}</td>
            {% endfor %}
            <td>{{ sumnoc }}</td>
        </tr>
        <tr>
            <td class="heavy">PROMESAS</td>
            {% set sumprom = 0 %}
            {% for i in 1..dhoy %}
                {% set sumprom = sumprom + summary[i].promesas %}
                {% set zeros = '' %}
                {% if summary[i].promesas == 0 %}
                    {% set zeros = ' style="color:red;"' %}
                {% endif %}
                <td>{{ summary[i].promesas }}</td>
            {% endfor %}
            <td>{{ sumprom }}</td>
        </tr>
        </tbody>
    </table>
</div>
<script src="{{ asset('js/app.js') }}"></script>
</body>
</html>
