<!DOCTYPE html>
<html>
<head>
    <title>Reporte de los queues por cliente</title>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.jqueryui.min.css">
    <style>
        body {
            font-size: 75%;
        }

        tr.odd {
            background-color: #dddddd
        }

        td {
            text-align: center
        }

/*
        .alert {
            background-color: red
        }
*/
    </style>
</head>
<body>
<button onclick="window.location = '/reports'">Regresar a la plantilla administrativa</button>
<br>
<h2>Queues Normales</h2>
<table class="ui-widget" id="normales">
    <thead class="ui-widget-header">
    <tr>
        <th>Client</th>
        <th>Campa&ntilde;a</th>
        <th>Asignados</th>
        <th>Queue</th>
        <th>#/$ cuentas</th>
        <th>% campa&ntilde;a</th>
        <th>#/$ diario</th>
        <th>% diario</th>
        <th>#/$ semanal</th>
        <th>% semanal</th>
        <th>#/$ mensual</th>
        <th>% mensual</th>
    </tr>
    </thead>
    <tbody class="ui-widget-content">
    {% for q in normal %}
        <tr>
            <td>
                {{ q.client }}
            </td>
            <td>
                {{ q.sdc }}
            </td>
            <td>
                {{ q.assigned }}<br>
                {{ q.money }}
            </td>
            <td>
                {{ q.queue }}
            </td>
            <td class='legibility'>
                <a href="/speclistqc?cliente={{ q.client }}&queue={{ q.queue }}&sdc={{ q.sdc }}&rato=total">
                    {{ q.count }}<br>{{ q.amount }}</a>
            </td>
            <td>{{ q.percent }}%<br>{{ q.percentMoney }}%
            </td>
            <td {{ q.alertDay }}>
                <a href="/speclistqc?cliente={{ q.client }}&queue={{ q.queue }}&sdc={{ q.sdc }}&rato=diario">
                    {{ q.countDay }}<br>{{ q.amountDay }}</a>
            </td>
            <td {{ q.alertDay }}>
                <a href="/speclistqc?cliente={{ q.client }}&queue={{ q.queue }}&sdc={{ q.sdc }}&rato=diario">
                    {{ q.percentDay }}<br>{{ q.percentMoneyDay }}
                </a>
            </td>
            <td {{ q.alertWeek }}>
                <a href="/speclistqc?cliente={{ q.client }}&queue={{ q.queue }}&sdc={{ q.sdc }}&rato=semanal">
                    {{ q.countWeek }}<br>{{ q.amountWeek }}</a>
            </td>
            <td {{ q.alertWeek }}>
                <a href="/speclistqc?cliente={{ q.client }}&queue={{ q.queue }}&sdc={{ q.sdc }}&rato=semanal">
                    {{ q.percentWeek }}<br>{{ q.percentMoneyWeek }}
                </a>
            </td>
            <td {{ q.alertMonth }}>
                <a href="/speclistqc?cliente={{ q.client }}&queue={{ q.queue }}&sdc={{ q.sdc }}&rato=mensual">
                    {{ q.countMonth }}<br>{{ q.amountMonth }}</a>
            </td>
            <td {{ q.alertMonth }}>
                <a href="/speclistqc?cliente={{ q.client }}&queue={{ q.queue }}&sdc={{ q.sdc }}&rato=mensual">
                    {{ q.percentMonth }}<br>{{ q.percentMoneyMonth }}
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<h2>Queus Especiales</h2>
<table class="ui-widget" id="especiales">
    <thead class="ui-widget-header">
    <tr>
        <th>Client</th>
        <th>Campa&ntilde;a</th>
        <th>Asignados</th>
        <th>#/$ cuentas</th>
        <th>% campa&ntilde;a</th>
    </tr>
    </thead>
    <tbody class="ui-widget-content">
    {% for q in special %}
        <tr>
            <td>
                {{ q.client }}
            </td>
            <td>
                {{ q.sdc }}
            </td>
            <td>
                {{ q.assigned }}<br>
                {{ q.money }}
            </td>
            <td>
                {{ q.count }}<br>
                {{ q.amount }}
            </td>
            <td>
                {{ q.percent }}<br>
                {{ q.percentMoney }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script src="{{ asset('js/app.js') }}"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script>
    $("tr:odd").addClass("odd");
    $('th').parent("tr:odd").removeClass('odd');
    $('#normales').dataTable({
        'bPaginate': false
    });
    $('#especiales').dataTable({
        'bPaginate': false
    });
</script>
</body>
</html>
