<!DOCTYPE html>
<html>
<head>
    <title>Tiempo Real</title>
    <meta http-equiv="refresh" content="60"/>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
    <style>
        .alert {
            background-color: red
        }
    </style>
</head>
<body>
<div id="app">
    <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href="#AHORA">AHORA</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#BREAKS">BREAKS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#PORHORA">ULTIMA HORA</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#PORDIA">HOY</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="AHORA" role="tabpanel">
            <table class='table' id="AHORAtab">
                <thead>
                <tr>
                    <th>Gestor</th>
                    <th>Cuenta</th>
                    <th>OldUser<br>Deudor
                    </th>
                    <th>Client</th>
                    <th>Camp</th>
                    <th>Status</th>
                    <th>Tiempo en este cuenta (min)</th>
                    <th>Queue</th>
                    <th>Sistema</th>
                    <th>Login</th>
                    <th>Logout</th>
                </tr>
                </thead>
                <tbody>
                {% for rowAhora in resultAhora %}
                    {% if rowAhora.logout == rowAhora.gestor %}
                        {% set url = 'logout?gone=forgot&capt=' ~ rowAhora.gestor %}
                        {% set logout = '<a href="' ~ url ~ '" target="_blank">LOGOUT</a>' %}
                    {% else %}
                        {% set logout = rowAhora.logout %}
                    {% endif %}
                    <tr {% if rowAhora.tiempo > 60 %} class="alert" {% endif %}>
                        <td>{{ rowAhora.gestor }}</td>
                        <td><a
                                    href="/resumen/{{ rowAhora.id_cuenta }}">{{ rowAhora.cuenta }}</a></td>
                        <td>{{ rowAhora.nombre }}</td>
                        <td>{{ rowAhora.cliente }}</td>
                        <td>{{ rowAhora.camp }}</td>
                        <td>{{ rowAhora.status }}</td>
                        <td>{{ rowAhora.tiempo }}</td>
                        <td>{{ rowAhora.queue }}</td>
                        <td>{{ rowAhora.sistema }}</td>
                        <td>{{ rowAhora.login }}</td>
                        <td>{{ logout }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane" role="tabpanel" id='BREAKS'>
            <table class='table' id='BREAKStab'>
                <thead>
                <tr>
                    <th>Gestor</th>
                    <th>Tipo</th>
                    <th>de</th>
                    <th>a</th>
                    <th>Minutes</th>
                </tr>
                </thead>
                <tbody>
                {% for rowBreaks in resultBreaks %}
                    <tr>
                        <td>{{ rowBreaks.gestor }}</td>
                        <td>{{ rowBreaks.tipo }}</td>
                        <td>{{ rowBreaks.tiempo }}</td>
                        <td>{{ rowBreaks.ntp }}</td>
                        <td>{{ rowBreaks.diff }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane" role="tabpanel" id='PORHORA'>
            <table class="table" id='PORHORAtab'>
                <thead>
                <tr>
                    <th></th>
                    <th>Contactos</th>
                    <th>Gestiones</th>
                    <th>Promesas de Payment</th>
                    <th>Promesas de Firma</th>
                    <th>% Contactos</th>
                </tr>
                </thead>
                <tbody>
                {% for rowPorHora in resultPorHora %}
                    <tr>
                        <td>{{ rowPorHora.gestor }}</td>
                        <td>{{ rowPorHora.contactos }}</td>
                        <td>{{ rowPorHora.gestiones }}</td>
                        <td>{{ rowPorHora.promesas }}</td>
                        <td>{{ rowPorHora.firmas }}</td>
                        <td>{{ rowPorHora.porciento }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane" role="tabpanel" id='PORDIA'>
            <table class="table" id="PORDIAtab">
                <thead>
                <tr>
                    <th></th>
                    <th>Gestiones</th>
                    <th>Promesas de Payment Hoy</th>
                    <th>$ Promesas Hoy</th>
                    <th>Promesas de Firma Hoy</th>
                    <th>Pagos Hoy</th>
                    <th>Negociaciones</th>
                    <th>Horas</th>
                    <th>Break min</th>
                    <th>Gestiones por hora</th>
                    <th>Efectividad</th>
                </tr>
                </thead>
                <tbody>
                {% for rowHoy in resultHoy %}
                    <tr {% if rowAhora.Horas < rowHoy.Break_min * 6 %} class="alert"
                            {% endif %}>
                        <td>{{ rowHoy.gestor }}</td>
                        <td>{{ rowHoy.Gestiones }}</td>
                        <td>{{ rowHoy.Promesas_Hoy }}</td>
                        <td>{{ rowHoy.Monto_Promesas_Hoy }}</td>
                        <td>{{ rowHoy.Firmas_Hoy }}</td>
                        <td>{{ rowHoy.Pagos_Hoy }}</td>
                        <td>{{ rowHoy.Negociaciones }}</td>
                        <td>{{ rowHoy.Horas }}</td>
                        <td>{{ rowHoy.Break_min }}</td>
                        <td>{{ rowHoy.Gestiones_por_hora }}</td>
                        <td>{{ rowHoy.Efectividad * 100 }}%</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<button onclick="window.location = '/reports'">Regresar
    a la plantilla administrativa
</button>
<br>
<script src="{{ asset('js/app.js') }}"></script>
</body>
</html>
