<!DOCTYPE html>
<html>
    <head>
        <title>Reporte del Queue Manual</title>
        <meta name="csrf-token" content="{{ csrf_token() }}">
        <link href="{{ asset('css/app.css') }}" rel="stylesheet">
    </head>
    <body>
        <h1>Queue MANUAL</h1>
        <button onClick="window.location = '/reports'">Regresar al administración</button>
        <table id='buscartab' class='table'>
            <thead class='ui-widget-header'>
                <tr>
                    <th>CLIENTE</th>
                    <th>SEGMENTO</th>
                    <th>ASIGNADO</th>
                    <th># CUENTAS</th>
                    <th># SIN GESTI&Oacute;N ESTA HORA</th>
                    <th># SIN GESTI&Oacute;N HOY</th>
                    <th>REPORTE</th>
                </tr>
            </thead>
            <tbody class='ui-widget-content'>
                {% for r in result %}
                    <tr>
                        <td>{{ r.cliente }}?></td>
                        <td>{{ r.segmento }}</td>
                        <td>{{ r.asignado }}</td>
                        <td>{{ r.total }}</td>
                        <td>{{ r.normal }}</td>
                        <td>{{ r.largo }}</td>
                        <td>
                            <form action="/speclistman/{{ r.cliente }}/{{ r.segmento }}" method="get">
                                <button>REPORTE</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <script src="{{ asset('js/app.js') }}"></script>
    </body>
</html> 
