<html>
    <head>
        <title>Resumen</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link
            href="https://code.jquery.com/ui/1.12.0/themes/redmond/jquery-ui.css"
            rel="stylesheet" type="text/css" />
        <link
            href="https://cdn.datatables.net/1.10.12/css/dataTables.jqueryui.min.css"
            rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="/css/resumen.css" type="text/css"
            media="all" />
    </head>
    <body id="todos">
        <div id="buttonbox">
            {% if from in ['ultima','find'] %}
            <form class="buttons" name="seg" method="get" action="resumen"
                id="segid">
                <input type="hidden" name="find" value="{{ r.id_cuenta }}"> <input
                    type="hidden" name="id_cuenta" value="{{ r.id_cuenta }}"> <input
                    type="submit" name="go" value="REINTRO QUEUE">
            </form>
            {% endif %}
            <form class="buttons" name="ultima" method="get" action="resumen"
                id="ultima">
                <input type="submit" name="go" value="ULTIMA">
            </form>
            <form class="buttons" name="buscar" action="resumen" id="buscar">
                <button type="button" value="buscar" onclick="showsearch();">
                BUSCAR</button>
            </form>
            <form class="buttons" name="migo" method="get" action="migo" id="migo">
                <input type="submit" name="go" value="CUENTAS">
            </form>
            <form class="buttons" name="visitlist" method="get"
                action="realvisitlist" id="visitlist" target="_blank">
                <input type="hidden" name="id_cuenta" value="{{ r.id_cuenta }}">
                <input type="hidden" name="ejecutivo_asignado_call_center"
                    value="{{ r.ejecutivo_asignado_call_center }}"> <input
                    type="submit" name="go" value="VISITAS">
            </form>
            <form class="buttons" name="rotas" method="get" action="rotas"
                id="rotas">
                <input type="submit" name="go" value="PROMESAS">
            </form>
            <form class="buttons" name="pagos" method="get" action="pagos"
                id="pagos" target="_blank">
                <input type="hidden" name="id_cuenta" value="{{ r.id_cuenta }}">
                <input type="submit" name="go" value="PAGOS">
            </form>
            <form class="buttons" name="notasq" method="get" action="notas"
                id="notas" target="_blank">
                <input type="hidden" name="C_CONT" value="{{ r.id_cuenta }}">
                <input type="submit" name="go" value="NOTAS">
            </form>
            <form class="buttons" name="queuesg" method="get" action="queuesg"
                id="queuesg">
                <input type="submit" name="go" value="QUEUES">
            </form>
            <form class="buttons" name="logout" method="get" action="resumen"
                id="logout">
                <input type="hidden" name="id_cuenta" value="{{ r.id_cuenta }}">
                <input type="submit" name="go" value="LOGOUT">
            </form>
            <button>
            {{ r.cliente ~ '-' ~ r.status_de_credito ~ '-' ~ cr }}
            </BUTTON>
            {% if tipo == 'admin' %}
            <form action="reports" method="get">
                <input type="submit" value="REPORTES">
            </form>
            {% endif %}
            <span style='font-weight: bold; font-size: 120%;'> {{ capt }}
            </span>
            <form class="buttons" name="trouble" method="get" action="trouble"
                id="trouble" target="_blank">
                <input type="hidden" name="c_cont" value="{{ r.id_cuenta }}">
                <input type="submit" name="go" value="ERROR">
            </form>
            {% include 'privacidad.twig' %}
        </div>
        <div id="GENERAL">
            <table>
                <tr>
                    <td>{% include 'resfield.twig' with {'field': 'nombre_deudor', 'label': 'Deudor', 'value': r.nombre_deudor} %}
                    </td>
                    <td><label for="domicilio_deudor">Domicilio</label> <textarea
                        id=domicilio_deudor readonly='readonly ' rows=4 cols=20>{{ r.domicilio_deudor|trim ~ "\n" 
                        ~ r.colonia_deudor|trim ~ "\n" 
                        ~ r.ciudad_deudor|trim ~ "," ~ r.estado_deudor|trim ~ ' ' ~ r.cp_deudor|trim }}
                        {% if r.domicilio_deudor_2 is not empty %}
                        {{ "\n o \n" ~ r.domicilio_deudor_2|trim }}
                        {% endif %}
                        </textarea><br>
                        {% if r.direccion_nueva is not empty %}
                            {% include 'resfield.twig' with {'field': 'direccion_nueva', 'label': 'Dirección nueva', 'value': r.direccion_nueva} %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>{% include 'resfield.twig' with {'field': 'ejecutivo_asignado_call_center', 'label': 'Gestor Asignado', 'value': r.ejecutivo_asignado_call_center} %}
                        {% include 'resfield.twig' with {'field': 'numero_de_cuenta', 'label': 'Numero de cuenta', 'value': r.numero_de_cuenta} %}
                        {% include 'resfield.twig' with {'field': 'status_aarsa', 'label': 'Status de la Cuenta', 'value': r.status_aarsa} %}
                    </td>
                    <td>
                        <div id='clock'>
                            <input type="hidden" id="timer" readonly="readonly" value="0">
                            <input type="text" id="timerm" readonly="readonly" value="0"
                                size="3"> : <input type="text" id="timers"
                                readonly="readonly" value="0" size="3"><br>
                            {% set ngclass = 'low' %}
                            {% if numgest > 20 %}
                            {% set ngclass = 'med' %}
                            {% endif %}
                            {% if numgest > 40 %}
                            {% set ngclass = 'high' %}
                            {% endif %}
                            <input type="text" id="numgest" class="{{ ngclass }}"
                                readonly="readonly" value="{{ numgest ~ ' gestiones'}}">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="searchbox">
            <h2>Buscar</h2>
            <form name="search" method="get" action="buscar" id="search">
                Buscar a : <input type="text" name="find" id="find"> en 
                <select
                    name="field">
                    <option value="numero_de_cuenta">Cuenta</option>
                    <option value="numero_de_credito"># del Grupo</option>
                    <option value="nombre_deudor">Nombre</option>
                    <option value="domicilio_deudor">Dirección</option>
                    <option value="TELS">Telefonos</option>
                    <option value="ROBOT">Telefonos marcados</option>
                    <option value="REFS">Aval/Referencias</option>
                    <option value="id_cuenta">Expediente</option>
                </select>
                <br> Client = 
                <select name="cliente">
                    <option value="">Todos</option>
                    {% for cl in resultcl %}
                    <option value="{{ cl }}">{{ cl }}</option>
                    {% endfor %}
                </select>
                <br> <input type="submit" value="BUSCAR"> <input
                    type="button" name="cancel" onclick="cancelbox('searchbox')"
                    value="Cancel">
            </form>
        </div>
        <div id="tabs">
            <UL>
                <LI><A href="#TELEFONOS">TELEFONOS</A></LI>
                <LI><A href="#REFERENCIAS">REFERENCIAS</A></LI>
                <LI><A href="#LABORAL">LABORAL</A></LI>
                <LI><A href="#CONTABLES">CONTABLES</A></LI>
                <LI><A href="#MISCELANEA">MISCELANEA</A></LI>
                <LI><A href="#VISITA">CAPTURA VISITA</A></LI>
                <LI><A href="#HISTORIA">HISTORIA</A></LI>
            </UL>
            <div id="TELEFONOS">
                {% include 'resfield.twig' with {'field': 'tel_1', 'label': 'Tel Casa', 'value': r.tel_1} %}
                {% include 'resfield.twig' with {'field': 'tel_2', 'label': 'Tel Cel', 'value': r.tel_2} %}
                {% include 'resfield.twig' with {'field': 'tel_3', 'label': 'Tel 3', 'value': r.tel_3} %}
                {% include 'resfield.twig' with {'field': 'tel_4', 'label': 'Tel 4', 'value': r.tel_4} %}
                {% include 'resfield.twig' with {'field': 'email_deudor', 'label': 'E-mail', 'value': r.email_deudor} %}
            </div>
            <div id="REFERENCIAS">
                <div style="float: left; clear: left;">
                    {% include 'resfield.twig' with {'field': 'nombre_deudor_alterno', 'label': 'Aval', 'value': r.nombre_deudor_alterno} %}
                    {% include 'resfield.twig' with {'field': 'domicilio_deudor_alterno', 'label': 'Dirección Aval', 'value': r.domicilio_deudor_alterno} %}
                    {% include 'resfield.twig' with {'field': 'tel_1_alterno', 'label': 'Tel Casa Aval', 'value': r.tel_1_alterno} %}
                    {% include 'resfield.twig' with {'field': 'tel_2_alterno', 'label': 'Tel Cel Aval', 'value': r.tel_2_alterno} %}
                    {% include 'resfield.twig' with {'field': 'tel_3_alterno', 'label': 'Tel 3 Aval', 'value': r.tel_3_alterno} %}
                    {% include 'resfield.twig' with {'field': 'tel_4_alterno', 'label': 'Tel 4 Aval', 'value': r.tel_4_alterno} %}
                </div>
                <div style="float: left; clear: none;">
                    {% include 'resfield.twig' with {'field': 'nombre_referencia_1', 'label': 'Referencia 1', 'value': r.nombre_referencia_1} %}
                    {% include 'resfield.twig' with {'field': 'tel_1_ref_1', 'label': 'Tel Casa Ref 1', 'value': r.tel_1_ref_1} %}
                    {% include 'resfield.twig' with {'field': 'tel_2_ref_1', 'label': 'Tel Cel Ref 1', 'value': r.tel_2_ref_1} %}
                </div>
                <div style="float: left; clear: none;">
                    {% include 'resfield.twig' with {'field': 'nombre_referencia_2', 'label': 'Referencia 2', 'value': r.nombre_referencia_2} %}
                    {% include 'resfield.twig' with {'field': 'tel_1_ref_2', 'label': 'Tel Casa Ref 2', 'value': r.tel_1_ref_2} %}
                    {% include 'resfield.twig' with {'field': 'tel_2_ref_2', 'label': 'Tel Cel Ref 2', 'value': r.tel_2_ref_2} %}
                </div>
                <div style="float: left; clear: none;">
                    {% include 'resfield.twig' with {'field': 'nombre_referencia_3', 'label': 'Referencia 3', 'value': r.nombre_referencia_3} %}
                    {% include 'resfield.twig' with {'field': 'tel_1_ref_3', 'label': 'Tel Casa Ref 3', 'value': r.tel_1_ref_3} %}
                    {% include 'resfield.twig' with {'field': 'tel_2_ref_3', 'label': 'Tel Cel Ref 3', 'value': r.tel_2_ref_3} %}
                </div>
                <div style="float: left; clear: none;">
                    {% include 'resfield.twig' with {'field': 'nombre_referencia_4', 'label': 'Referencia 4', 'value': r.nombre_referencia_4} %}
                    {% include 'resfield.twig' with {'field': 'tel_1_ref_4', 'label': 'Tel Casa Ref 4', 'value': r.tel_1_ref_4} %}
                    {% include 'resfield.twig' with {'field': 'tel_2_ref_4', 'label': 'Tel Cel Ref 4', 'value': r.tel_2_ref_4} %}
                </div>
            </div>
            <div id="LABORAL">
                {% include 'resfield.twig' with {'field': 'empresa', 'label': 'Empresa', 'value': r.empresa} %}
                {% include 'resfield.twig' with {'field': 'domicilio_laboral', 'label': 'Domicilio', 'value': r.domicilio_laboral} %}
                {% include 'resfield.twig' with {'field': 'colonia_laboral', 'label': 'Colonia', 'value': r.colonia_laboral} %}
                {% include 'resfield.twig' with {'field': 'ciudad_laboral', 'label': 'Ciudad', 'value': r.ciudad_laboral} %}
                {% include 'resfield.twig' with {'field': 'estado_laboral', 'label': 'Estado', 'value': r.estado_laboral} %}
                {% include 'resfield.twig' with {'field': 'tel_1_laboral', 'label': 'Tel', 'value': r.tel_1_laboral} %}
                {% include 'resfield.twig' with {'field': 'tel_2_laboral', 'label': 'Ext.', 'value': r.tel_2_laboral} %}
            </div>
            <div id="CONTABLES">
                <table>
                    <tr>
                        {% include 'rescell.twig' with {'field': 'numero_de_credito', 'label': 'Numero de credito', 'value': r.numero_de_cuenta} %}
                        {% include 'rescell.twig' with {'field': 'id_cuenta', 'label': 'ID cuenta', 'value': r.id_cuenta} %}
                        {% include 'rescell.twig' with {'field': 'status_de_credito', 'label': 'Segmento', 'value': r.status_de_credito} %}
                        {% include 'rescell.twig' with {'field': 'rfc_deudor', 'label': 'RFC deudor', 'value': r.rfc_deudor} %}
                    </tr>
                    <tr>
                        {% include 'rescell.twig' with {'field': 'fecha_de_asignacion', 'label': 'Fecha de asignación', 'value': r.fecha_de_asignacion} %}
                        {% include 'rescell.twig' with {'field': 'fecha_de_actualizacion', 'label': 'Fecha de actualización', 'value': r.fecha_de_actualizacion} %}
                        {% include 'rescell.twig' with {'field': 'fecha_de_deasignacion', 'label': 'Fecha de retiro', 'value': r.fecha_de_deasignacion} %}
                    </tr>
                    <tr>
                        {% include 'rescell.twig' with {'field': 'saldo_total', 'label': 'Saldo total', 'value': r.saldo_total|number_format} %}
                        {% include 'rescell.twig' with {'field': 'saldo_descuento_2', 'label': 'Saldo descuento', 'value': r.saldo_descuento_2|number_format} %}
                        {% include 'rescell.twig' with {'field': 'pcDescuento', 'label': '% decuento', 'value': ((100 - (100 * r.saldo_descuento_2 / (r.saldo_total + 0.001)))|round) ~ '%'  } %}
                    </tr>
                    <tr>
                        {% include 'rescell.twig' with {'field': 'saldo_cuota', 'label': 'Saldo cuota', 'value': r.saldo_cuota|number_format} %}
                        {% include 'rescell.twig' with {'field': 'saldo_vencido', 'label': 'Saldo vencido', 'value': r.saldo_vencido|number_format} %}
                        {% if r.saldo_descuento_1 > 0 %}
                        {% include 'rescell.twig' with {'field': 'saldo_descuento_1', 'label': 'Saldo capital', 'value': r.saldo_descuento_1|number_format} %}
                        {% endif %}
                        {% if r.monto_adeudado> 0 %}
                        {% include 'rescell.twig' with {'field': 'monto_adeudado', 'label': 'Monto en Contención', 'value': r.monto_adeudado|number_format} %}
                        {% endif %}
                    </tr>
                    <tr>
                        {% include 'rescell.twig' with {'field': 'frecuencia', 'label': 'Frecuencía', 'value': r.frecuencia} %}
                        {% include 'rescell.twig' with {'field': 'contrato', 'label': 'Reestructura', 'value': r.contrato} %}
                        {% include 'rescell.twig' with {'field': 'producto', 'label': 'Producto(s)', 'value': r.producto} %}
                        {% include 'rescell.twig' with {'field': 'subproducto', 'label': 'Subproductos', 'value': r.subproducto} %}
                    </tr>
                    <tr>
                        {% include 'rescell.twig' with {'field': 'fecha_de_ultimo_pago', 'label': 'Fecha de último pago', 'value': r.fecha_de_ultimo_pago} %}
                        {% include 'rescell.twig' with {'field': 'monto_ultimo_pago', 'label': 'Monto último pago', 'value': r.monto_ultimo_pago|number_format} %}
                        {% include 'rescell.twig' with {'field': 'pagos_vencidos', 'label': 'Meses vencidos', 'value': r.pagos_vencidos|number_format} %}
                        {% include 'rescell.twig' with {'field': 'dias_vencidos', 'label': 'Días vencidos', 'value': r.dias_vencidos|number_format} %}
                    </tr>
                </table>
            </div>
            <div id="MISCELANEA">
                {% include 'resfield.twig' with {'field': 'tel_1_verif', 'label': 'Tel 1 Verificado', 'value': r.tel_1_verif} %}
                {% include 'resfield.twig' with {'field': 'tel_2_verif', 'label': 'Tel 2 Verificado', 'value': r.tel_2_verif} %}
                {% include 'resfield.twig' with {'field': 'tel_3_verif', 'label': 'Tel 3 Verificado', 'value': r.tel_3_verif} %}
                {% include 'resfield.twig' with {'field': 'tel_4_verif', 'label': 'Tel 4 Verificado', 'value': r.tel_4_verif} %}
            </div>
            <div id="VISITA">
                <div class="noshow">
                    <input type="text" name="error" readonly="readonly" value="1">
                    <input type="text" name="C_HRFI" readonly="readonly"
                        value="{{ CT }}"> <input type="text" name="AUTO"
                        readonly="readonly" value=""> <input type="text"
                        name="find" readonly="readonly" value="{{ find }}"> <input
                        type="text" name="field" readonly="readonly" value="{{ field }}"><br>
                    <input type="text" name="C_CVGE" readonly="readonly"
                        value="{{ C_CVGE }}"><br> <input type="text"
                        name="C_CVBA" readonly="readonly" value="{{ r.cliente }}"><br>
                    <input type="text" name="C_ATTE" readonly="readonly" value="">
                    <input type="text" name="C_CONT" readonly="readonly"
                        value="{{ r.id_cuenta }}"><br> <input type="text"
                        name="C_CONTAN" readonly="readonly" value="{{ r.status_aarsa }}"><br>
                    <input type="text" name="CUENTA" id="CUENTA2" readonly="readonly"
                        value="{{ r.numero_de_cuenta }}"><br> <input
                        type="text" name="C_EJE" readonly="readonly"
                        value="{{ r.ejecutivo_asignado_call_center }}"><br>
                </div>
                <p>DICTAMEN DOMICILIO PARTICULAR</p>
                <table class=' visitable '>
                    <tr>
                        <th>Tipo :</th>
                        <td><label> <input type="checkbox" name="domtipo"
                            value="casa" id="casa"> Casa
                            </label>
                        </td>
                        <td><label> <input type="checkbox" name="domtipo"
                            value="departamento" id="departamento"> Departamento
                            </label>
                        </td>
                        <td><label> <input type="checkbox" name="domtipo"
                            value="terreno" id="terreno"> Terreno
                            </label>
                        </td>
                        <td><label> <input type="checkbox" name="domtipo"
                            value="trabajo" id="trabajo"> Trabajo /Oficina
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <th>Propio :</th>
                        <td><label> <input type="checkbox" name="domown"
                            value="propio" id="propio"> Propio
                            </label>
                        </td>
                        <td><label> <input type="checkbox" name="domown"
                            value="rentado" id="rentado"> Rentado
                            </label>
                        </td>
                        <td><label> <input type="checkbox" name="domown"
                            value="abandonado" id="abandonado"> Abandonado
                            </label>
                        </td>
                        <td><label> <input type="checkbox" name="domown"
                            value="deshabilitado" id="deshabilitado"> Deshabilitado
                            </label>
                        </td>
                        <td><label> <input type="checkbox" name="domown"
                            value="invadido" id="invadido"> Invadido
                            </label>
                        </td>
                        <td><label> <input type="checkbox" name="domown"
                            value="prestado" id="prestado"> Prestado
                            </label>
                        </td>
                        <td><label> <input type="checkbox" name="domown"
                            value="laborando" id="laborando"> Laborando
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <th>Nivel :</th>
                        <td><label> <input type="checkbox" name="C_NSE"
                            value="alto" id="alto"> Alto
                            </label>
                        </td>
                        <td><label> <input type="checkbox" name="C_NSE"
                            value="medio" id="medio"> Medio
                            </label>
                        </td>
                        <td><label> <input type="checkbox" name="C_NSE"
                            value="bajo" id="bajo"> Bajo
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <th>Estado :</th>
                        <td><label> <input type="checkbox" name="domstat"
                            value="malo" id="malo"> Malo
                            </label>
                        </td>
                        <td><label> <input type="checkbox" name="domstat"
                            value="regular" id="regular"> Regular
                            </label>
                        </td>
                        <td><label> <input type="checkbox" name="domstat"
                            value="bueno" id="bueno"> Bueno
                            </label>
                        </td>
                        <td><label> <input type="checkbox" name="domstat"
                            value="excelente" id="excelente"> Excelente
                            </label>
                        </td>
                    </tr>
                </table>
                <p>SEÑAS :</p>
                <span class="formcap"> Color : </span> 
                <select name="C_CFAC">
                    <option value="no">No especifica</option>
                    <option value="Amarilla">Amarilla</option>
                    <option value="Azul">Azul</option>
                    <option value="Beige">Beige</option>
                    <option value="Blanca">Blanca</option>
                    <option value="Cafe">Cafe</option>
                    <option value="Cantera">Cantera</option>
                    <option value="Celeste">Celeste</option>
                    <option value="Crema">Crema</option>
                    <option value="Forja">Forja</option>
                    <option value="Gris">Gris</option>
                    <option value="Ladrillo">Ladrillo</option>
                    <option value="Madera">Madera</option>
                    <option value="Melon">Melon</option>
                    <option value="Metalica">Metalica</option>
                    <option value="Morada">Morada</option>
                    <option value="Naranja">Naranja</option>
                    <option value="Negra">Negra</option>
                    <option value="Roja">Roja</option>
                    <option value="Rosa">Rosa</option>
                    <option value="Verde">Verde</option>
                </select>
                <br> <span class="formcap"> Puerta : </span> 
                <select
                    name="C_CPTA">
                    <option value="no">No especifica</option>
                    <option value="no_tiene">No tiene</option>
                    <option value="Amarilla">Amarilla</option>
                    <option value="Azul">Azul</option>
                    <option value="Beige">Beige</option>
                    <option value="Blanca">Blanca</option>
                    <option value="Cafe">Cafe</option>
                    <option value="Celeste">Celeste</option>
                    <option value="Crema">Crema</option>
                    <option value="Forja">Forja</option>
                    <option value="Gris">Gris</option>
                    <option value="Ladrillo">Ladrillo</option>
                    <option value="Madera">Madera</option>
                    <option value="Melon">Melon</option>
                    <option value="Metalica">Metalica</option>
                    <option value="Morada">Morada</option>
                    <option value="Naranja">Naranja</option>
                    <option value="Negra">Negra</option>
                    <option value="Roja">Roja</option>
                    <option value="Rosa">Rosa</option>
                    <option value="Verde">Verde</option>
                </select>
                <br> <span class="formcap"> Reja /Barandal : </span> 
                <select
                    name="C_CREJ">
                    <option value="no">No especifica</option>
                    <option value="No">No tiene</option>
                    <option value="Amarilla">Amarilla</option>
                    <option value="Azul">Azul</option>
                    <option value="Beige">Beige</option>
                    <option value="Blanca">Blanca</option>
                    <option value="Cafe">Cafe</option>
                    <option value="Celeste">Celeste</option>
                    <option value="Crema">Crema</option>
                    <option value="Gris">Gris</option>
                    <option value="Ladrillo">Ladrillo</option>
                    <option value="Madera">Madera</option>
                    <option value="Melon">Melon</option>
                    <option value="Metalica">Metalica</option>
                    <option value="Morada">Morada</option>
                    <option value="Naranja">Naranja</option>
                    <option value="Negra">Negra</option>
                    <option value="Roja">Roja</option>
                    <option value="Rosa">Rosa</option>
                    <option value="Verde">Verde</option>
                </select>
                <br> <span class="formcap"> Patio/Jardín : </span> 
                <select
                    name="C_CPAT">
                    <option value="no">No especifica</option>
                    <option value="si">Sí</option>
                    <option value="no">No</option>
                </select>
                <br> <span class="formcap"> Pisos : </span> 
                <select
                    name="C_CNIV">
                    <option value="planta baja">planta baja</option>
                    <option value="planta alta">planta alta</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="> 3">>3</option>
                </select>
                <br>
                <p>DATOS DE LA GESTION</p>
                <span class="formcap"> Hora: </span> 
                <select NAME="C_VH">
                	{% for h in range(0,23) %}
                    <option value='{{ h }}'>{{ h }}</option>
                    {% endfor %}
                </select>
                : 
                <SELECT NAME="C_VMN">
                	{% for m in range(0,59) %}
                    <option value='{{ "%02d"|format(m) }}'>{{ "%02d"|format(m) }}</option>
                    {% endfor %}
                </select>
                <br> <label for="C_VD">Fecha:</label> <INPUT TYPE="text"
                    class='fecha' NAME="C_VD" ID="C_VD" VALUE="{{ CD }}" SIZE=15><br>
                <span class="formcap" id="pcap"> Parentesco /Cargo</span> 
                <select
                    name="C_CARG">
                    <option value=""></option>
                    <option value="Aval">Aval</option>
                    <option value="Conyuge">Cónyuge</option>
                    <option value="Deudor">Deudor</option>
                    <option value="Familiar">Familiar</option>
                    <option value="Hermano /a">Hermano/a</option>
                    <option value="Hijo /a">Hijo/a</option>
                    <option value="Madre">Madre</option>
                    <option value="Otro">Otro</option>
                    <option value="Padre">Padre</option>
                    <option value="Vecino /a">Vecino/a</option>
                </select>
                <br> <label for="C_OBSE12">Gestión</label>
                <textarea rows="2" cols="40" name="C_OBSE1" id='C_OBSE12'
                    onkeypress="tooLong(this)">
			</textarea>
                <br> 
                <label for="accionV">Acción: </label>
                <select name="ACCION" id="accionV"> 
                {% include 'resopt.twig' with {'list': accionesV} %}
                </select><br>
                <label for="dictamenV">Status: </label>
                <select name="C_CVST" id="dictamenV"
                    onblur="statusChange (this .form);">
                {% include 'resopt.twig' with {'list': dictamenesV} %}
                </select><br>
                <label for="motivV"> Motivadores : </label> 
                <select name="MOTIV" id="motivV">
                    {% include 'resopt.twig' with {'list': motivV} %}
                </select>
                <br>
                <table>
                    <tr>
                        <td><label for="D_PROMv">Fecha promesa</label> <INPUT
                            TYPE="text" NAME="D_PROM" ID="D_PROMv" VALUE="" class="fecha"
                            SIZE=15><br>
                            <label for="N_PROMv">Cantidad de pago
                            prometido $</label> <input type="text" name="N_PROM" id="N_PROMv"
                                value="">
                        </td>
                        <td id='pagocaptv'><label for="D_PAGOv">Fecha ya pagó</label>
                            <INPUT TYPE="text" NAME="D_PAGO" ID="D_PAGOv" VALUE=""
                                class="fecha" SIZE=15><br>
                                <label for="N_PAGOv">Cantidad de ya pagó $</label> <input type="text" name="N_PAGO"
                                id="N_PAGOv" value=""><br>
                        </td>
                    </tr>
                </table>
                <span class="formcap"> Comentario de promesa </span> <input
                    type="text" name="C_PROM" value=""> <br> <span
                    class="formcap"> Frecuencia de pago prometido </span> 
                <select
                    name="C_FREQ">
                    <option value="" selected="selected"></option>
                    <option value="unico">Unico</option>
                    <option value="semanales">Semanales</option>
                    <option value="quincenales">Quincenales</option>
                    <option value="mensuales">Mensuales</option>
                    <option value="otro">Otro ( en Gestion comentas )</option>
                </select>
                <br> <span class="formcap"> Visitador : </span> 
                <select
                    name="C_VISIT" id="C_VISIT">
                    <option value=''></option>
                    {% for v in visitadores %}
                    <option value="{{ v.iniciales }}">{{ v.completo }}</option>
                    {% endfor %}
                </select>
                <br> <span class="formcap">ENTRE CALLE </span> <input
                    type="text" name="C_CALLE1">Y <input type="text"
                    name="C_CALLE2"> <br>
                <div class="togglebox" id="nuevoboxt2">
                    <span class="formcap">Actualización de datos </span> <br>
                    <span class="formcap">Tel .</span> <input type="text" name="C_NTEL"
                        value=""> <br> <span class="formcap">Tel 2.</span> <input
                        type="text" size=50 name="C_OBSE2" value=""> <br> <span
                        class="formcap">Dirección</span> <input type="text"
                        size=50 name="C_NDIR" value=""> <br>
                </div>
                <input type="hidden" name="go" value="CAPTURADO"> <input
                    type="submit" name="CAPTURADO" value="CAPTURADO">
                </form>
            </div>
            <!-- 	</div>-->
            <div id="HISTORIA">
                <table id="history" class="ui-widget">
                    <thead class="ui-widget-header">
                        <tr>
                            <th>Status</th>
                            <th>Fecha/Hora</th>
                            <th>Gestor</th>
                            <th>Teléfono</th>
                            <th>Gestión</th>
                        </tr>
                    </thead>
                    <tbody class="ui-widget-content">
                        {% for h in history %}
                        <tr>
                            <td>{{ h.c_cvst }}</td>
                            <td>{{ h.fecha }}</td>
                            <td>{{ h.c_cvge }}</td>
                            <td>{{ h.c_tele }}</td>
                            <td onclick="alert('{{ h.c_obse1 }}')">{{ h.short }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="GESTION">
            <form action="resumen" method="get" id="gestionform"
                onSubmit="return validate_form (this, event, <?php                   echo $saldo_descuento_2+ 0; ?>,<?php                   if (empty ($AUTH )) { $AUTH = ''; 	 }if (($ mytipo == ' admin ') || ($ AUTH != '')) { echo 1; } else {echo 0; 	 }?>, ' ');">
            <table id="databox">
                {% if tipo == 'admin' %}
                <tr>
                    <td>Gestor</td>
                    <td>
                        <select name="C_CVGE">
                            <option value="<?php echo $capt ; ?>"><?php echo $capt ;
                                ?></option>
                            <?php foreach ($resultGestor as $answerGestor ) { ?>
                            <option value="<?php 	echo $answerGestor[1]; ?>"><?php
                                echo $answerGestor[0]; ?></option>
                            <?php }?>
                        </select>
                    </td>
                </tr>
                {% else %}
                <input type="hidden" name="C_CVGE" readonly="readonly"
                    value="<?php if (isset($C_CVGE)) { echo $C_CVGE; 	 }?>"> 
                {% endif %}
                <tr id='authbox ' class="hidebox">
                    <td>Autorización</td>
                    <td><input type="password" name="AUTH" id="AUTH" value="">
                    </td>
                </tr>
                <tr>
                    <td>Telefono</td>
                    <td colspan=2>
                        <select id="C_TELE" name="C_TELE">
                            <option value=''></option>
                            <option value='Entrante '>Llamada entrante</option>
                            <option value='Oficina '>Cliente Visito</option>
                            <option value='040'>040</option>
                            <option value=''>Nuevo Tel . 1</option>
                            <option value=''>Nuevo Tel . 2</option>
                            <?php if (isset ($tel_1
                                )) { ?>
                            <option<?php echo $bad['t1']; ?>value ='<?php echo
                                $tel_1 ?>'>TEL Casa - <?php echo $tel_1 ?></option><?php }?> <? php if
                                (isset ($tel_1_laboral )) { ?>
                            <option<?php echo $bad['t1l']; ?>value ='<?php echo
                                $tel_1_laboral; ?>'>TEL LABORAL 1 - <?php echo $empresa . ' - '
                                . $tel_1_laboral; ?></option><?php }?> <? php if (isset ($tel_1_ref_1 ))
                                { ?>
                            <option<?php echo $bad['t1r1']; ?>value ='<?php echo
                                $tel_1_ref_1; ?>'>TEL 1 REF 1 - <?php echo $nombre_referencia_1
                                . ' - ' . $tel_1_ref_1; ?></option><?php }?> <? php if (isset
                                ($tel_1_ref_2 )) { ?>
                            <option<?php echo $bad['t1r2']; ?>value ='<?php echo
                                $tel_1_ref_2; ?>'>TEL 1 REF 2 - <?php echo $nombre_referencia_2
                                . ' - ' . $tel_1_ref_2; ?></option><?php }?> <? php if (isset
                                ($tel_1_ref_3 )) { ?>
                            <option<?php echo $bad['t1r3']; ?>value ='<?php echo
                                $tel_1_ref_3; ?>'>TEL 1 REF 3 - <?php echo $nombre_referencia_3
                                . ' - ' . $tel_1_ref_3; ?></option><?php }?> <? php if (isset
                                ($tel_1_ref_4 )) { ?>
                            <option<?php echo $bad['t1r4']; ?>value ='<?php echo
                                $tel_1_ref_4; ?>'>TEL 1 REF 4 - <?php echo $nombre_referencia_4
                                . ' - ' . $tel_1_ref_4; ?></option><?php }?> <? php if (isset
                                ($tel_1_verif )) { ?>
                            <option class='verif'<?php echo $bad['t1v']; ?>value
                                ='<?php echo $tel_1_verif; ?>'>TEL 1 VERIF - <?php echo
                                $tel_1_verif; ?></option>
                            <?php }?> <? php if (isset ($tel_2 )) { ?>
                            <option<?php echo $bad['t2']; ?>value ='<?php echo
                                $tel_2; ?>'>CELULAR - <?php echo $tel_2; ?></option><?php }?> <? php if
                                (isset ($tel_2_laboral )) { ?>
                            <option<?php echo $bad['t2l']; ?>value ='<?php echo
                                $tel_2_laboral; ?>'>TEL LABORAL 2 - <?php echo $empresa . ' - '
                                . $tel_2_laboral; ?></option><?php }?> <? php if (isset ($tel_2_ref_1 ))
                                { ?>
                            <option<?php echo $bad['t2r1']; ?>value ='<?php echo
                                $tel_2_ref_1; ?>'>TEL 2 REF 1 - <?php echo $nombre_referencia_1
                                . ' - ' . $tel_2_ref_1; ?></option><?php }?> <? php if (isset
                                ($tel_2_ref_2 )) { ?>
                            <option<?php echo $bad['t2r2']; ?>value ='<?php echo
                                $tel_2_ref_2; ?>'>TEL 2 REF 2 - <?php echo $nombre_referencia_2
                                . ' - ' . $tel_2_ref_2; ?></option><?php }?> <? php if (isset
                                ($tel_2_ref_3 )) { ?>
                            <option<?php echo $bad['t2r3']; ?>value ='<?php echo
                                $tel_2_ref_3; ?>'>TEL 2 REF 3 - <?php echo $nombre_referencia_3
                                . ' - ' . $tel_2_ref_3; ?></option><?php }?> <? php if (isset
                                ($tel_2_ref_4 )) { ?>
                            <option<?php echo $bad['t2r4']; ?>value ='<?php echo
                                $tel_2_ref_4; ?>'>TEL 2 REF 4 - <?php echo $nombre_referencia_4
                                . ' - ' . $tel_2_ref_4; ?></option><?php }?> <? php if (isset
                                ($tel_2_verif )) { ?>
                            <option class='verif'<?php echo $bad['t2v']; ?>value
                                ='<?php echo $tel_2_verif; ?>'>TEL 2 VERIF - <?php echo
                                $tel_2_verif; ?></option>
                            <?php }?> <? php if (isset ($tel_3 )) { ?>
                            <option<?php echo $bad['t3']; ?>value ='<?php echo
                                $tel_3; ?>'>TEL 3 - <?php echo $tel_3; ?></option><?php }?> <? php if
                                (isset ($tel_3_verif )) { ?>
                            <option class='verif'<?php echo $bad['t3v']; ?>value
                                ='<?php echo $tel_3_verif; ?>'>TEL 3 VERIF - <?php echo
                                $tel_3_verif; ?></option>
                            <?php }?> <? php if (isset ($tel_4 )) { ?>
                            <option<?php echo $bad['t4']; ?>value ='<?php echo
                                $tel_4; ?>'>TEL 4 - <?php echo $tel_4; ?></option><?php }?> <? php if
                                (isset ($tel_4_verif )) { ?>
                            <option class='verif'<?php echo $bad['t4v']; ?>value
                                ='<?php echo $tel_4_verif; ?>'>TEL 4 VERIF - <?php echo
                                $tel_4_verif; ?></option>
                            <?php }?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td id="pcap2">Parentesco /Cargo</td>
                    <td>
                        <select name="C_CARG">
                            <option value=""></option>
                            <option value="Aval">Aval</option>
                            <option value="Conyuge">Cónyuge</option>
                            <option value="Deudor">Deudor</option>
                            <option value="Familiar">Familiar</option>
                            <option value="Hermano /a">Hermano /a</option>
                            <option value="Hijo 	/a">Hijo /a</option>
                            <option value="Madre">Madre</option>
                            <option value="Otro">Otro</option>
                            <option value="Padre">Padre</option>
                            <option value="Vecino /a">Vecino /a</option>
                            <option value="Yerno">Yerno</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Gestion</td>
                    <td><textarea rows="4" cols="50" name="C_OBSE1" id='C_OBSE1 '
                        onkeypress="tooLong (this)" onkeyup="valid (this, 'special ')"
                        onmouseover='this.focus();' onblur="valid (this, 'special ')"
                        onmousedown='this.focus();'>
                        </textarea>
                    </td>
                    <td colspan=2>
                        Acción 
                        <select name="ACCION"
                            id="ACCION">
                            <?php foreach ($resultAccion as
                                $answerAccion ) { ?>
                            <option value="<?php echo $answerAccion[ 0] ;  	?>"
                                style="font-size: 120%;"><? php if (isset
                                ($answerAccion[ 0] )) {echo $answerAccion[0]; }?></option>
                            <? php } ?>
                        </select>
                        <br>Status 
                        <select name="C_CVST" id="C_CVST"
                            onblur="statusChange (this.form );">
                            <option value=''></option>
                            <?php foreach ($resultDictamen as
                                $answerDictamen ) { ?>
                            <option
                                value="<?php if 	 (isset ($answerDictamen[ 0] )) {echo htmlentities($answerDictamen[0]); 	 }?>"
                                style="font-size: 120%;"><? php if ( isset ($
                                answerDictamen [ 0 ] )) { echo htmlentities ($answerDictamen [ 0
                                ] ); } ?></option>
                            <? php } ?>
                        </select>
                        <br>Causa no pago 
                        <select name="C_CNP" id="C_CNP">
                            <?php foreach ($resultCnp as $answerCnp ) { ?>
                            <option value="<?php echo 	 $answerCnp[ 0] ; ?>"
                                style="font-size: 120%;"><? php if (isset ($answerCnp[
                                0] )) {echo htmlentities($answerCnp[0]); }?></option>
                            <? php } ?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Motivadores</td>
                    <td>
                        <select id="C_MOTIV" name="C_MOTIV">
                            <option value=""><? php foreach ($ resultMotiv as $
                                answerMotiv ) { ?>
                            <option value="<?php echo $ answerMotiv [ 0 ] ;	 ?>"><?
                                php echo $ answerMotiv [ 0 ] ; ?></option>
                            <? php } ?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>Se necesita localizar <input type="checkbox"
                        name="LOCALIZAR" id="localizar "<?php if (!empty
                            ($localizar )) {echo 'selected="selected"'; }?>>
                    </td>
                    <td colspan=2>
                        Localizable 
                        <select name=' CUANDO '>
                            <option value=""></option>
                            <option value="madrugada "<?php if ($ CUANDO == '
                                madrugada ') { echo ' selected ="selected"'; } ?>> madrugada</option>
                            <option value="manana "<?php if ($ CUANDO == ' manana ')
                                { echo ' selected ="selected"'; } ?>> mañana</option>
                            <option value="tarde "<?php if ($ CUANDO == ' tarde ') {
                                echo ' selected ="selected"'; } ?>> tarde</option>
                            <option value="noche "<?php if ($ CUANDO == ' noche ') {
                                echo ' selected ="selected"'; } ?>> noche</option>
                            <option value="robot "<?php if ($ CUANDO == ' robot ') {
                                echo ' selected ="selected"'; } ?>> robot</option>
                            <option value="visita "<?php if ($ CUANDO == ' visita ')
                                { echo ' selected ="selected"'; } ?>> visita</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Cant . de promesa unico o 1&deg;</td>
                    <td>$<input type="text" name="N_PROM1" value="0" size="8"
                        onchange="npromChange (this.form );" onmouseover='this.focus();'>
                    </td>
                    <td>$<input type="text" name="N_PROM1_OLD" readonly="readonly"
                        size="8" value="{{ N_PROM1_OLD }}"></td>
                </tr>
                <tr>
                    <td>Fecha promesa unico o 1&deg;</td>
                    <td><INPUT TYPE="text" NAME="D_PROM1" ID="D_PROM1" VALUE=""
                        class="fecha" SIZE=15></td>
                    <td><input type="text" name="D_PROM1_OLD"
                        style="background-color: #c0c0c0;" readonly="readonly"
                        value="<?php                             if (isset ($D_PROM1_OLD )) {echo 	$D_PROM1_OLD; 	 }?>"></td>
                </tr>
                <tr>
                    <td>Cant . de promesa 2&deg;</td>
                    <td>$<input type="text" name="N_PROM2" value="0"
                        onchange="npromChange (this.form );" onmouseover='this.focus();'>
                    </td>
                    <td>$<input type="text" name="N_PROM2_OLD" size="8"
                        readonly="readonly"
                        value="<?php                             if (isset ($N_PROM2_OLD )) {echo 	$N_PROM2_OLD; 	 }?>"><br>
                </tr>
                <tr>
                    <td>Fecha promesa 2&deg;</td>
                    <td><INPUT TYPE="text" NAME="D_PROM2" ID="D_PROM2" VALUE=""
                        class="fecha" SIZE=15></td>
                    <td><input type="text" name="D_PROM2_OLD"
                        style="background-color: #c0c0c0;" readonly="readonly"
                        value="{{ D_PROM2_OLD }}"></td>
                </tr>
                <tr>
                    <td>Cant. de promesa 3&deg;</td>
                    <td>$<input type="text" name="N_PROM3" value="0"
                        onchange="npromChange (this.form );" onmouseover='this.focus();'>
                    </td>
                    <td>$<input type="text" name="N_PROM3_OLD" size="8"
                        readonly="readonly" value="{{ N_PROM3_OLD }}"><br>
                </tr>
                <tr>
                    <td>Fecha promesa 3&deg;</td>
                    <td><INPUT TYPE="text" NAME="D_PROM3" ID="D_PROM3" VALUE=""
                        class="fecha" SIZE=15></td>
                    <td><input type="text" name="D_PROM3_OLD"
                        style="background-color: #c0c0c0;" readonly="readonly"
                        value="{{ D_PROM3_OLD }}"><br>
                </tr>
                <tr>
                    <td>Cant. de promesa 4&deg;</td>
                    <td>$<input type="text" name="N_PROM4" value="0"
                        onchange="npromChange(this.form);" onmouseover='this.focus();'>
                    </td>
                    <td>$<input type="text" name="N_PROM4_OLD" size="8"
                        readonly="readonly" value="{{ N_PROM4_OLD }}"><br>
                </tr>
                <tr>
                    <td>Fecha promesa 4&deg;<</td>
                    <td><INPUT TYPE="text" NAME="D_PROM4" ID="D_PROM4" VALUE=""
                        class="fecha" SIZE=15></td>
                    <td><input type="text" name="D_PROM4_OLD"
                        style="background-color: #c0c0c0;" readonly="readonly"
                        value="{{ D_PROM4_OLD }}"><br>
                </tr>
                <tr>
                    <td>Frecuencia de promesa</td>
                    <td>
                        <select name="C_PROM" id="C_PROM">
                            <option selected="selected" value=""></option>
                            <option value="unico">Unico</option>
                            <option value="dos pagos 	">Dos pagos</option>
                            <option value="semanales">Semanales</option>
                            <option value="quincenales">Quincenales</option>
                            <option value="mensuales">Mensuales</option>
                            <option value="otro">Otro (en Gestion comentas )</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Cant . de promesa total</td>
                    <td><input type="text" name="N_PROM" id="N_PROM"
                        readonly="readonly" style="background-color: #c0c0c0;" value="">
                    </td>
                    <td>Cant . prometido anterior</td>
                    <td><input type="text	" name="N_PROM_OLD" id="N_PROM_OLD"
                        readonly="readonly" style="background-color: #c0c0c0;"
                        value="<?php                             if (isset ($N_PROM_OLD )) {echo 	floor($N_PROM_OLD); 	 }?>"></td>
                </tr>
                <tr id="pagocapt">
                    <td>Monto Pagó</td>
                    <td>$<input type="text" name="N_PAGO" id="N_PAGO" value="0"
                        onmouseover='this.focus();'>
                    </td>
                </tr>
                <tr id="pagocapt2">
                    <td>Fecha Pagó</td>
                    <td><INPUT TYPE="text" NAME="D_PAGO" ID="D_PAGOi" VALUE=""
                        class="fecha" SIZE=15></td>
                </tr>
                <tr>
                    <td colspan=2>Actualización de Datos</td>
                </tr>
                <tr>
                    <td>Tel .</td>
                    <td><input type="text" name="C_NTEL" value=""
                        onmouseover='this.focus();' onChange="addToTels (4, this )">
                    </td>
                </tr>
                <tr>
                    <td>Tel 2.</td>
                    <td><input type="text" size=50 name="C_OBSE2" value=""
                        onmouseover='this.focus();' onChange="addToTels 	(5, this )">
                    </td>
                </tr>
                <tr>
                    <td>Dirección</td>
                    <td><input type="text" size=50 name="C_NDIR" value=""
                        onmouseover='this.focus();'></td>
                </tr>
                <tr>
                    <td>E-mail</td>
                    <td><input type="text" name="C_EMAIL" value=""
                        onmouseover='this.focus();'></td>
                </tr>
            </table>
            <input type="submit" name="GUARDAR" id="GUARDbutt" value="GUARDAR"
                ondblclick="return false ;">
            <button type="button" value="RESET 	"
                onclick="this.form.GUARDAR.disabled = false">RESET</button>
            <br>
        </div>
        </div>
        {{ dump() }}
        <div class="noshow">
            <input type="text" name="from" readonly="readonly" value="resumen">
            <br> <input type="text" name="D_FECH" readonly="readonly"
                value="<?php                     if (isset ($CD )) {echo $CD; 	 }?>"><br>
            <input type="text" name="D_PROM" readonly="readonly"
                value="<?php                     if (isset ($CD )) {echo $CD; 	 }?>"><br>
            <input type="text" name="C_HRIN" readonly="readonly"
                value="<?php                     if (isset ($CT )) {echo $CT; 	 }?>"><br>
            <input type="text" name="C_HRFI" readonly="readonly"
                value="<?php                     if (isset ($CT )) {echo $CT; 	 }?>"><br>
            <input type="text" name="AUTO" readonly="readonly" value=""> <br>
            <input type="text" name="find" readonly="readonly"
                value="<?php                     if (isset ($find )) {echo $find; 	 }?>"><br>
            <input type="text" name="field" readonly="readonly"
                value="<?php                     if (isset ($field )) {echo $field; 	 }?>"><br>
            <input type="text" name="capt" readonly="readonly"
                value="<?php                     if (isset ($capt )) {echo $capt; 	 }?>"><br>
            <input type="text" name="camp" readonly="readonly"
                value="<?php                     if (isset ($camp )) {echo $camp; 	 }?>"><br>
            <input type="text" name="neworder" readonly="readonly"
                value="<?php                     if (isset ($neworder )) {echo $neworder; 	 }?>"><br>
            <input type="text" name="C_CVBA" readonly="readonly"
                value="<?php                     if (isset ($cliente )) {echo $cliente; 	 }?>"><br>
            <input type="text" name="C_ATTE" readonly="readonly" value="">
            <br> <input type="text" name="C_CONT" readonly="readonly"
                value="<?php                     if (isset ($id_cuenta )) {echo $id_cuenta; 	 }?>"><br>
            <input type="text" name="C_CONTAN" readonly="readonly"
                value="<?php                     if (isset ($status_aarsa )) {echo $status_aarsa; 	 }?>"><br>
            <input type="text" name="CUENTA" id="CUENTA" readonly="readonly 	"
                value="<?php                     if (isset ($numero_de_cuenta )) {echo 	$numero_de_cuenta; 	 }?>"><br>
            <input type="text" name="C_EJE" id="C_EJE" readonly="readonly 	"
                value="<?php                            if (isset ($ejecutivo_asignado_call_center )) 	{echo $ejecutivo_asignado_call_center; 	 } ?>"><br>
            <input type="text" name="oldgo" readonly="readonly"
                value="<? php echo $ go ; ?>"><br> <input type="text"
                name="error" readonly="readonly" value="1"> <br> <input
                type="text" name="go" readonly="readonly" value="GUARDAR"> <br>
        </div>
        </div>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script
            src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"
            type="text/javascript"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
            type="text/javascript"></script>
        <script type="text/javascript" src="/js/depuracion.js"></script>
        <script type="text/javascript" src="/js/depuracionv.js"></script>
        <script type="text/javascript" src="/js/resumen.js"></script>
        <script type="text/javascript">
            var flag = '{{ valid.flag }}';
            var flagmsg = '{{ valid.msg }}';
            var cuenta = '{{ notas.cuenta }}';
            var notalert = '{{ notas.alert }}';
            var sdc = '{{ r.status_de_credito }}';
            var tipo = '{{ tipo }}';
            var tlp = '{{ tl }}';
        </script>
    </body>
</html>