<!DOCTYPE html>
<html>
<head>
    <title>Administraci&oacute;n de las segmentos</title>
    <meta charset="utf-8"/>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
</head>
<body>
<div id="app">
    <button onclick="window.location = '/reports'">Regresar a la plantilla administrativa</button>
    <br>
    <table summary="Segmentos" class="table table-striped">
        <thead class="ui-widget-header">
        <tr>
            <th>CLIENTE</th>
            <th>SEGMENTO</th>
            <th>CUENTAS</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody class="ui-widget-content">
        {% for r in result %}
            <tr>
                <td>{{ r.cliente }}</td>
                <td>{{ r.sdc }}</td>
                <td>{{ r.cnt }}</td>
                {% if r.cnt == 0 %}
                    <td>
                        <form class="gestorchange" name="gestorchange{{ r.id }}" method="post"
                              action="{{ url('/segmento/borrar') }}" id="gestorchange{{ r.id }}">
                            {{ csrf_field() }}
                            <input type="hidden" name="cliente" readonly="readonly" value="{{ r.cliente }}"/>
                            <input type="hidden" name="segmento" readonly="readonly" value="{{ r.sdc }}"/>
                            <input type="submit" name="go" value="BORRAR"></form>
                    </td>
                {% else %}
                    <td>
                        <form class="gestorchange" name="gestorchange{{ r.id }}" method="post"
                              action="{{ url('/segmento/inactivar') }}" id="gestorchange{{ r.id }}">
                            {{ csrf_field() }}
                            <input type="hidden" name="cliente" readonly="readonly" value="<?php echo $cliente; ?>"/>
                            <input type="hidden" name="segmento" readonly="readonly" value="<?php echo $segmento; ?>"/>
                            <input style="background-color: red" type="submit" name="go" value="INACTIVAR"></form>
                    </td>
                {% endif %}

            </tr>
        {% endfor %}
        <tr>
            <td colspan=3>
                <label for="cliseg">Cliente/Segmento</label>
                <select name="cliseg" id="cliseg" form="gestoradd">
                    {% for ru in resultU %}
                        <option value="{{ ru.cliente ~ ';' ~ ru.sdc }}">
                            {{ ru.cliente ~ ' - ' ~ ru.sdc }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <form class="gestoradd" name="gestoradd" method="post"
                      action="{{ url('/segmento/agregar') }}" id="gestoradd">
                    {{ csrf_field() }}
                    <input type="submit" name="go" value="AGREGAR">
                </form>
            </td>

        </tr>
        </tbody>
    </table>
    <div>
        <form class="gestoradd" name="gestoradd" method="post"
              action="{{ url('/segmento/agregartodo') }}" id="gestoradd">
            {{ csrf_field() }}
            <input type="submit" name="go" value="AGREGAR TODO">
        </form>
    </div>
</div>
<script src="{{ asset('js/app.js') }}"></script>
</body>
</html>
