<!DOCTYPE html>
<html>
    <head>
        <title>Listado de Queue Manual</title>
        <link href="https://code.jquery.com/ui/1.12.0/themes/redmond/jquery-ui.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.jqueryui.min.css">
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" type="text/javascript"></script>
        <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js" type="text/javascript"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" type="text/javascript"></script>
        <style>
            td { text-align: center; }
            td.number {
                text-align: right;
                padding-right: 1em;
            }
        </style>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" type="text/javascript"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" type="text/javascript"></script>
        <script src="https://cdn.datatables.net/1.10.12/css/dataTables.jqueryui.min.js" type="text/javascript"></script>
    </head>
    <body>
    <button onclick="window.location = 'reporteManual.php?capt=<?php echo $capt; ?>'">Regresar al Reporte de los Queues
        MANUAL
    </button>
    <br>
        <table id="qm" class="ui-widget">
            <thead class="ui-widget-header">
                <tr>
                    <th>CUENTA</th>
                    <th>NOMBRE</th>
                    <th>CLIENTE</th>
                    <th>SEGMENTO</th>
                    <th>SALDO TOTAL</th>
                    <th>STATUS</th>
                    <th>GESTOR</th>
                    <th>ULT GESTI&Oacute;N</th>
                    <th>VECES GESTIONADOS HOY</th>
                </tr>
            </thead>
            <tbody class="ui-widget-content">
                {% for r in result %}
                    <tr>
                        <td class="number">{{ r.numero_de_cuenta }}</td>
                        <td>{{ r.nombre_deudor }}</td>
                        <td>{{ r.cli }}</td>
                        <td>{{ r.status_de_credito }}</td>
                        <td class="number">{{ r.saldo_total }}</td>
                        <td>{{ r.status_aarsa }}</td>
                        <td>{{ r.ejecutivo_asignado_call_center }}</td>
                        <td>{{ r.fecha_ultima_gestion }}</td>
                        <td>{{ r.especial - 1 }}</td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
        <script>
            $(document).ready(function () {
                $('#qm').dataTable({
                    "bPaginate": false,
                    "oLanguage": {
                        "sUrl": "espanol.txt"
                    }
                });
            });
        </script>
    </body>
</html> 
