<!DOCTYPE html>
<html>
    <head>
        <title>Listado de Queue Manual</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/mobius1/vanilla-Datatables@latest/vanilla-dataTables.min.css">
    </head>
    <body>
    <button onclick="window.location = 'reporteManual.php?capt=<?php echo $capt; ?>'">Regresar al Reporte de los Queues
        MANUAL
    </button>
    <br>
        <table id="qm" class="ui-widget">
            <thead class="ui-widget-header">
                <tr>
                    <th>CUENTA</th>
                    <th>NOMBRE</th>
                    <th>CLIENTE</th>
                    <th>SEGMENTO</th>
                    <th>SALDO TOTAL</th>
                    <th>STATUS</th>
                    <th>GESTOR</th>
                    <th>ULT GESTI&Oacute;N</th>
                    <th>VECES GESTIONADOS HOY</th>
                </tr>
            </thead>
            <tbody class="ui-widget-content">
                {% for r in result %}
                    <tr>
                        <td class="number">{{ r.numero_de_cuenta }}</td>
                        <td>{{ r.nombre_deudor }}</td>
                        <td>{{ r.cli }}</td>
                        <td>{{ r.status_de_credito }}</td>
                        <td class="number">{{ r.saldo_total }}</td>
                        <td>{{ r.status_aarsa }}</td>
                        <td>{{ r.ejecutivo_asignado_call_center }}</td>
                        <td>{{ r.fecha_ultima_gestion }}</td>
                        <td>{{ r.especial - 1 }}</td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/mobius1/vanilla-Datatables@latest/vanilla-dataTables.min.js"></script>
    <script>
        const dt = new DataTable('#qm');
    </script>
    </body>
</html> 
