<!DOCTYPE html>
<html>
<head>
    <title>COBRA Trouble Admin</title>
    <meta charset="utf-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css">
</head>
<body>
<div id="app">
    <table class="table" id="trouble">
        <thead class='ui-widget-header'>
        <tr>
            <th>Fecha/hora</th>
            <th>Sistema</th>
            <th>Usuario</th>
            <th>Fuente</th>
            <th>Descripcion</th>
            <th>Error Mensaje</th>
            <th>Reparacion</th>
            <th>Arreglado?</th>
        </tr>
        </thead>
        <tbody class="ui-widget-content">
        {% for t in trouble %}
            <tr>
                <td>{{ t.fechahora }}</td>
                <td>{{ t.sistema }}</td>
                <td>{{ t.usuario }}</td>
                <td>{{ t.fuente }}</td>
                <td style="font-size: xx-small;">{{ t.descripcion }}</td>
                <td style="font-size: xx-small;">{{ t.error_msg }}</td>
                <td>{% if t.it_guy is empty %}
                        <form action="/trouble" method="post" id="{{ t.auto }}">
                            <input name=" _method" type="hidden" value="PUT">
                            {{ csrf_field() }}
                            <input type="hidden" name="which" readonly="readonly"
                                   value="{{ t.auto }}"/>
                            <input type="text" name="reparacion"/>
                        </form>
                    {% else %} {{ t.reparacion }}
                    {% endif %}
                </td>
                <td>{% if t.it_guy is empty %} <input type="submit" name="go"
                                                      form="{{ t.auto }}" value="RESOLVER"> {% else %} {{ t.fechacomp }}
                        {{ t.it_guy }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script src="{{ asset('js/app.js') }}"></script>
<script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script>
    $(function () {
        $('#trouble').DataTable();
    });
</script>
</body>
</html>
