<!DOCTYPE html>
<html>
<head>
<title>Visitas</title>
<meta charset="utf-8">
	<meta name="csrf-token" content="{{ csrf_token() }}">
	<link href="{{ asset('css/app.css') }}" rel="stylesheet">
</head>
<body>
	<div id="app">
		<table class="table" id="historyhead">
			<thead class="ui-widget-header">
				<tr>
					<th>Status</th>
					<th>Fecha / Hora</th>
					<th>Visitador</th>
					<th>Gestión</th>
				</tr>
			</thead>
			<tbody class="ui-widget-content">
				{% for h in historia %}
				<tr>
					<td>{{ h.c_cvst }}</td>
					<td>{{ h.fh }}</td>
					<td>{{ h.gestor }}</td>
					<td onclick="alert('{{ h.c_obse1|convert_encoding('iso-8859-1','UTF-8') }}')">{{ h.short|convert_encoding('iso-8859-1','UTF-8') }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<button onClick='window.close()'>CIERRA</button>
    <script src="{{ asset('js/app.js') }}"></script>
</body>
</html>

